{{ define "main" }}

  <h1 class="title">Layoutseite: index.html</h1>
  
  <div class="content">
    {{ .Content }}
  </div>

  <div class="columns is-multiline">
    
    {{ $paginator := .Paginate (where site.RegularPages "Type" "articles") }}
    {{ range $paginator.Pages }}

      {{ if eq .Params.format "link" }}
        
        {{ partial "link-summary.html" . }}
      {{ else }}
        {{ partial "summary.html" . }}
      {{ end }}

    {{ end }}
  </div>

  {{ partial "pagination.html" . }}
  
{{ end }}
