@use "vars/helpers";
@use "sass:color";

// Burger Menu design
input#menu-switch {
    display: none;
}

input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(1) {
    transform: rotate(45deg);
}
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(2) {
    transform: rotate(-45deg);
}
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(3),
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(4) {
    opacity: 0;
}

input#menu-switch:checked ~ .navbar-menu {
    display: block;
    position: absolute;
    width: 100%;
    background-color: color.adjust(helpers.$dark, $lightness: -5%);
}


nav.navbar {
    background-color: color.adjust(helpers.$dark, $lightness: -5%);
    // @include helpers.box-shadow(true, 1px, 1px, 2px, rgba(color.adjust(helpers.$dark, $lightness: -20%), 1), rgba(helpers.$light, .1));

    a.navbar-item {
        color: helpers.$gold;
        @include helpers.font-regular;
        padding: 0 2em;
        gap: .4rem;

        @include helpers.breakpoint(0, 1135px) {
            padding: .5rem .75rem;
        }

        svg {
            fill: helpers.$gold-dark;
        }

        @include helpers.breakpoint(0, 1023px) {
            svg {
                margin-right: 10px;
                @include helpers.translate(0, 3px);
            }
        }

        &:hover,
        &:focus,
        &:active {
            color: color.adjust(helpers.$light, $lightness: 0.5%);
            background-color: color.adjust(helpers.$dark, $lightness: -5%);
            @include helpers.box-shadow(true, 1px, 1px, 4px, rgba(color.adjust(helpers.$dark, $lightness: -20%), .8), rgba(helpers.$light, 0.14));
        }

        &.is-active {
            color: color.adjust(helpers.$light, $lightness: -25%);
            background-color: color.adjust(helpers.$dark, $lightness: -5%);
            // @include helpers.box-shadow(true, 1px, 1px, 4px, rgba(color.adjust(helpers.$dark, $lightness: -20%), .8), rgba(helpers.$light, 0.14));

            &:hover {
                color: color.adjust(helpers.$light, $lightness: -25%);
                background-color: color.adjust(helpers.$dark, $lightness: -5%);
                box-shadow: none;
            }
        }
    } 

    .navbar-end {
        a.navbar-item.follow-icons {
            padding: 0 1rem;
            svg {
                fill: helpers.$gold;
            }
            &:hover,
            &:focus,
            &:active {
                svg {
                    fill: color.adjust(helpers.$light, $lightness: 0.5%);
                }
            }
        }
    }
}


input[type=search] {
    border: none;
    background-color: color.adjust(helpers.$dark, $lightness: 5%);
    color: helpers.$light;
    @include helpers.box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba(helpers.$gold-light, .07));
    &:focus {
      @include helpers.box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba(helpers.$gold-light, .07));
      ~ span.icon svg {
        fill: helpers.$gold-light;
        cursor: pointer;
      }
    }
    &::placeholder {
      color: rgba(helpers.$gold-light, .7);
    }
    & ~ span.icon svg {
      fill: helpers.$gold-light;
      cursor: pointer;
    }
}
.searchWithButton {
    .control.has-icons-right .icon {
        pointer-events: all;
    }
}

.control.is-loading::after {
    border: 2px solid helpers.$gold-light;
    border-top-color: helpers.$gold-light;
    border-right-color: helpers.$gold-light;
    border-right-color: transparent;
    border-top-color: transparent;
    margin-top: -17px;
}