{{ define "main" }}

  <div class="content">
    {{ .Content }}
  </div>

  {{ if eq .Section "authors" }}
    {{ range $.Params.socials }}
      <a href="{{ .src }}" {{ if .name }}data-tooltip="{{ .name }}"{{ end }}><i class="fab fa-{{ .name }}-square fa-2x"></i></a>
    {{ end }}
  {{ end }}

  <div class="columns is-multiline">
    
    {{ $paginator := .Paginator.Pages  }}
    {{ range $paginator }}

      {{ partial "cards" . }}
    {{ end }}
  </div>

  {{ partial "pagination" . }}

{{ end }}