{{ define "main" }}

  <h1 class="title">Layoutseite: _default/taxonomy.html</h1>

  <div class="content">
    {{ .Content }}
  </div>

  {{ if eq .Section "authors" }}

    {{ range $.Params.socials }}
      <!-- TODO: Tooltip hinzufügen -->
      <a href="{{ .src }}"><i class="fab fa-{{ .name }}-square fa-2x"></i></a>
    {{ end }}

  {{ end }}

  <div class="columns is-multiline">
    
    {{ $paginator := .Paginator.Pages  }}
    {{ range $paginator }}

      {{ partial "summary.html" . }}
    {{ end }}
  </div>

  {{ partial "pagination.html" . }}

{{ end }}