{{ define "main" }}
  <h1 class="title">Layoutseite: _default/terms.html</h1>
 
  <div class="content">
    {{ .Content }}
  </div>

  <div class="columns is-multiline">

    {{- if eq .Section "tags" -}}
      {{- range .Site.Taxonomies.tags.ByCount -}}
        {{ partial "card-summary" . }}
      {{- end -}}
    
    {{ else if (eq .Section "series") }}
      {{- range .Site.Taxonomies.series.ByCount -}}
        {{ partial "card-summary" . }}
      {{- end -}}

    {{- else -}}
      {{- range .Site.Taxonomies.categories.ByCount -}}
        {{ partial "card-summary" . }}
      {{- end -}}

    {{- end -}}
    
  </div>

{{ end }}




