{{ range $index, $element := where .Site.Pages "Section" "articles" }}
  {{- $.Scratch.Set "hasComments" 0 -}}

  {{- $postSlug := .File.ContentBaseName -}}
  {{- $comments := index $.Site.Data.comments $postSlug -}}

  {{- range $comments -}}
    {{- $.Scratch.Add "hasComments" 1 -}}
  {{- end -}}

  {{ $CountComments := $.Scratch.Get "hasComments" }}

  {{ if not (eq ($CountComments) 0) }}

    <li>{{ $index }}
      <span class="variable"><a href="{{ .RelPermalink }}/#comments" alt="{{ .Title }}" title="{{ .Title }}">{{ $CountComments }} {{ i18n "comments" $CountComments }}</a></span>
      <span class="variable-number"><a href="{{ .RelPermalink }}" alt="{{ .Title }}" title="{{ .Title }}">{{ .Title }}</a></span>
    </li>
  {{- end -}}

  {{- $.Scratch.Delete "hasComments" -}}
{{ end }}

-----

{{- $.Scratch.Set "mostLoved" slice -}}
{{- range where .Site.RegularPages "Section" "=" "articles" -}}

  {{- $.Scratch.Set "hasComments" 0 -}}

  {{- $postSlug := $.File.ContentBaseName -}}
  {{- $comments := index $.Site.Data.comments $postSlug -}}

  {{- range $comments -}}
    {{- $.Scratch.Add "hasComments" 1 -}}
  {{- end -}}

  {{ $hasCommentsCount := $.Scratch.Get "hasComments" }}
    
  {{ if not (eq ($hasCommentsCount) 0) }}
    {{- $.Scratch.Add "mostLoved" (dict "title" .Title "commentsCount" $hasCommentsCount "permalink" .Permalink) -}}
  {{- end -}}

{{- end -}}

{{- $.Scratch.Delete "hasComments" -}}
{{- $.Scratch.Get "mostLoved" | jsonify -}}