@use "vars/helpers";
@use "sass:color";

.content .widget {
    > .title:not(.is-6) {
      @include helpers.lined-title;
    }

    a:hover {
        color: helpers.$gold-light;
    }

    ul li > ul {
      margin-top: .25em;
    }
}

.widget.archive {
    ul {
        margin: 0;
        padding: 0 0 1.5em 0em;
        margin-inline-start: 0;

        li {
            display: flex;
        
            .name {
                order: 1;

                a {
                    color: helpers.$gold-light;
                    
                    &:hover {
                        color: helpers.$gold;
                    }
                }
            }
            .number {
                order: 3;
                padding-left: 0.3em;
                color: color.scale(helpers.$dark, $lightness: 40%);
            }
            
            &::after {
                content: "";
                flex-grow: 1;
                order: 2;
                background-image: radial-gradient(circle, rgba(helpers.$gold-dark, .5) 1px, transparent 1px);
                background-position-y: calc(100% - 6px);
                background-size: 1ex 3px;
                background-repeat: repeat-x;
                height: auto;
            }
        }
    }
}

// .widget.info moved to elements/article-info.scss (2026-05-09).