<div class="widget archive">
    <p class="title is-5">Übersicht</p>
    <ul>
      {{ range where .context.Site.Pages "Section" "articles" }}
          {{ range (.Pages.GroupByDate "2006") }}
    
            {{ $.context.Store.Set "yearIndexArchive" .Key }}
                {{ $list := .Pages }}
                {{ $len := (len $list) }}
                <li>
                  <span class="name"><a href='{{ $.Site.Params.baseurl }}/pages/archive/#{{ $.context.Store.Get "yearIndexArchive" }}' title="{{ .Key }}">{{ .Key }}</a></span>
                  <span class="number">{{ $len }} Artikel</span>
                </li>
          
          {{ end }}
        {{ $.context.Store.Delete "yearIndexArchive" }}
      {{ end }}
    </ul>

    <!-- Show Button only in the footer, not on the archive page -->
    <div class="is-pulled-right">
      {{ if not (eq .context.RelPermalink "/pages/archiv/") }}
          <a href="/pages/archiv/" class="button is-primary is-outlined" title="Archiv">
              <svg class='ri-1x'>
                  <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#bookmark-line"></use>
              </svg>
              Archiv
          </a>
      {{ end }}
    </div>
</div>