<div class="widget archive">
    <p class="title is-5">Übersicht</p>
    <ul>
			{{ $combinedPages := slice }}
			{{ range (where .context.Site.Pages "Type" "articles") }}
				{{ $combinedPages = $combinedPages | append .Pages }}
			{{ end }}
			{{ range (where .context.Site.Pages "Type" "logs") }}
				{{ $combinedPages = $combinedPages | append .Pages }}
			{{ end }}
			
			{{ range ($combinedPages.GroupByDate "2006") }}

        {{ $list := .Pages }}
        {{ $len := (len $list) }}
        <li>
          <span class="name"><a href='{{ $.Site.Params.baseurl }}/pages/archiv/#{{ .Key }}' title="{{ .Key }}">{{ .Key }}</a></span>
          <span class="number">{{ $len }} {{ if eq $len 1 }}Eintrag{{ else }}Einträge{{ end }}</span>
        </li>
      {{ end }}
    </ul>

    <!-- Show Button only in the footer, not on the archive page -->
    <div class="is-pulled-right">
      {{ if not (eq .context.RelPermalink "/pages/archiv/") }}
          <a href="/pages/archiv/" class="button is-primary is-outlined" title="Archiv">
              <svg class='ri-1x'>
                  <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#bookmark-line"></use>
              </svg>
              Archiv
          </a>
      {{ end }}
    </div>
</div>