<!-- THANKS: http://www.joesacher.com/blog/2017/08/27/converting-series-to-taxonomy/ -->

{{- $series_name := index .Params.series 0 -}}
{{- $.Store.Add "cur_page_num" 1 -}}
{{- $.Store.Add "total_page_num" 0 -}}
{{- range .Site.RegularPages.ByDate -}}
  {{- if in .Params.series $series_name -}}
    {{- $.Store.Add "total_page_num" 1 -}}
    {{- if gt $.Date.Unix .Date.Unix -}}
      {{- $.Store.Add "cur_page_num" 1 -}}
      {{- $.Store.Set "prev_link" .Permalink -}}
      {{- $.Store.Set "prev_title" .Title -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- range .Site.RegularPages.ByDate.Reverse -}}
  {{- if in .Params.series $series_name -}}
    {{- $.Store.Set "first_link" .Permalink -}}
    {{- if lt $.Date.Unix .Date.Unix -}}
      {{- $.Store.Set "next_link" .Permalink -}}
      {{- $.Store.Set "next_title" .Title -}}
    {{- end -}}
  {{- end -}}
{{- end -}}

{{- if or ($.Store.Get "next_link") ($.Store.Get "prev_link") -}}
  <div class="box-footer-item">
    Teil {{ $.Store.Get "cur_page_num" }} von {{ $.Store.Get "total_page_num" }}
  </div>
  {{- if $.Store.Get "prev_link" -}}
    {{- if ne ($.Store.Get "prev_link") ($.Store.Get "first_link") -}}
      <div class="box-footer-item">
        <a href="{{- $.Store.Get "first_link" -}}" title="Serien Anfang">
          <svg class='ri-1x'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#skip-back-line"></use></svg>
          Serien Anfang
        </a>
      </div>
    {{ end -}}

    {{- if $.Store.Get "prev_link" -}}
      <div class="box-footer-item">
        <a href="{{- $.Store.Get "prev_link" -}}" title="{{ $.Store.Get "prev_title" }}">
          <svg class='ri-1x'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#arrow-left-s-line"></use></svg>
          {{- $.Store.Get "prev_title" -}}
        </a>
      </div>
    {{- end -}}
  {{- end -}}

  {{- if $.Store.Get "next_link" -}}
    <div class="box-footer-item">
      <a href="{{- $.Store.Get "next_link" -}}" title="{{ $.Store.Get "next_title" }}">
        {{- $.Store.Get "next_title" -}}
        <svg class='ri-1x'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#arrow-right-s-line"></use></svg>
      </a>
    </div>
  {{- end -}}
{{- end -}}

{{- $.Store.Delete "cur_page_num" -}}
{{- $.Store.Delete "total_page_num" -}}
{{- $.Store.Delete "prev_link" -}}
{{- $.Store.Delete "prev_title" -}}
{{- $.Store.Delete "next_link" -}}
{{- $.Store.Delete "next_title" -}}
{{- $.Store.Delete "first_link" -}}
{{- $.Store.Delete "last_link" -}}
{{- $.Store.Delete "series_name" -}}
