// ================================ VARIABLES ================================
// Set your brand colors

$dark: hsl(0, 0%, 0%);
$light: hsl(44, 24%, 91%);
$blue-dark: hsl(226, 94%, 13%);
$blue-light: hsl(227, 93%, 28%);

// Gold colors
$gold-light: hsl(43, 65%, 64%);
$gold: hsl(40, 72%, 56%);
$gold-dark: hsl(38, 47%, 39%);

// Update Bulma's global variables
$family-sans-serif: "Montserrat-Regular", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Montserrat Alternates", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
