.card {
  width: 100%;
}

.card.is-horizontal {
  display: flex;
  flex-grow: 0;
  flex-shrink: 0;

  .card-image {
    flex-grow: 0;
    flex-shrink: 0;
    width: 280px;
    figure.image {
      height: 100%;
      img {
        height: 100%;
      }
    }
  }
  .card-content {
    flex-grow: 0;
    flex-shrink: 1;
    width: 100;
    padding: 0;
  }
}

.card.full-image {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 1;

  .card-image {
    // flex-grow: 0;
    flex-shrink: 1;
    // width: 100%;
    // width: 100%;
    figure.image {
      // height: 100%;
      // position: absolute;
      
      width: 100%;
      img {
        height: 100%;
        width: 100%;
      }
    }
  }
  .card-content {
    position: absolute;
    margin-top: 0;
  }
}

.card-content-wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;

  .media-content {
    flex-grow: 0;
    padding: 1.5rem 1.5rem 1rem 1.5rem;
  }
  .content {
    flex-grow: 1;
    padding: 0 1.5rem 1.5rem 1.5rem;
    margin-bottom: 0;
  }
  footer.card-footer {
    justify-content: flex-end;
    flex-grow: 0;
    flex-shrink: 1;
    overflow: hidden;
    font-size: 11px;
    letter-spacing: 1px;
    text-transform: uppercase;
  }
}