header.header section.hero .hero-body h1,
header.header section.hero .hero-body h2 {
  color: $text;
}

header.header {
  height: 360px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;

  .byline {
    display: block;
    position: absolute;
    top: 1em;
    left: 1.5em;
    opacity: .1;
    color: $text;
    font-size: 80%;
    transition: .3s;
    svg {
      @include translate(0, 7px);
    }
  }
  &:hover .byline {
    opacity: 1;
  }
}

// LOGO
.brand-logo {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: auto;
  // border: 1px solid red;
  height: 360px;
  width: 100%;
  background: radial-gradient(circle, rgba(25,25,25,1) 10%, transparent 100%);
  a.brand {
    flex: 0 1 auto;
    align-self: auto;
    height: auto;
    // border: 1px solid orange;
    top: 9em;
    z-index: 999;
    position: absolute;
  }
  &:after {
    content: "";
    // border: 1px solid green;
    background: url("/images/logo_back.png") no-repeat top center;
    background-size: contain;
    position: absolute;
    opacity: .2;
    top: 3em;
    bottom: 0;
    width: 100%;
    height: 300px;
    display: block;
    z-index: 1;
  }
}

.textlogo {
  background: linear-gradient(to bottom, #b78846 32%, #d8bf9a 50%, #624925 72%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #000;
  @include font-header;
  position: relative;
  font-size: 70px;
  @media (max-width: 768px) {
    font-size: 50px;
  }
  @media (max-width: 494px) {
    font-size: 35px;
  }
  margin: 0;
  top: 25%;
    
  &:after {
    background: none;
    padding: 0 140px;
    content: attr(data-heading);
    left: 0;
    top: 0;
    z-index: -1;
    position: absolute;
    text-shadow: -1px 0 1px #d3b68c, 0 1px 1px #d3b68c, 5px 5px 10px rgba(0, 0, 0, 0.7), -2px -2px 5px rgba(255, 255, 255, 0.3);
    @media (max-width: 768px) {
      padding: 0 80px;
    }
    @media (max-width: 494px) {
      padding: 0 60px;
    }
  }
  
  span.shimmer {
    padding: 0 140px;
    text-align: center;
    background: -webkit-gradient(linear, left top, right top, from(#97856b), to(#97856b), color-stop(0.5, $text));
    background: -moz-gradient(linear, left top, right top, from(#97856b), to(#97856b), color-stop(0.5, $text));
    background: gradient(linear, left top, right top, from(#97856b), to(#97856b), color-stop(0.5, $text));
    -webkit-background-size: 25px 100%;
    -moz-background-size: 25px 100%;
    background-size: 25px 100%; 
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-animation-name: shimmer;
    -moz-animation-name: shimmer;
    animation-name: shimmer;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    animation-iteration-count: infinite; 
    animation-direction: alternate;
    animation-timing-function: linear;
    background-repeat: no-repeat;
    background-position: 0 0;
    
    @media (max-width: 768px) {
      padding: 0 80px;
    }
    @media (max-width: 494px) {
      padding: 0 60px;
    }
  }
}

@-moz-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-webkit-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@-o-keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}
@keyframes shimmer {
  0% {
    background-position: top left;
  }
  100% {
    background-position: top right;
  }
}


// NAVIGATION
nav.navbar {
  // background: transparent;
  margin-top: -3.5em;
  padding: 0 2.5em;
  background: rgba(darken($background, 1%), .5);
  // @include font-header;
  font-weight: 600;
  @media (max-width: 1023px) {
    margin-top: -3.2em;
  }
  .navbar-item.navbar-logo {
    span {
      margin-left: 65px;
    }
    img {
      height: 60px;
      width: 60px;
      max-height: 60px;
      position: absolute;
      top: 2px;
      opacity: .5;
    }
  }
  .navbar-item.field {
    padding-right: 0;
  }
  input[type=search] {
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
    &:focus {
      @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
      ~ span.icon .remix {
        fill: $hover;
      }
    }
  }

  .control.is-loading::after {
    // border: 2px solid $primary;
    border: 2px solid $primary;
    border-top-color: $primary;
    border-right-color: $primary;
    border-right-color: transparent;
    border-top-color: transparent;
    margin-top: -17px;
  }

  a.navbar-item,
  .navbar-link {
    color: $primary;
    border: 1px solid transparent;
    transition: all .3s ease-out;
  }
  .is-active, 
  a.navbar-item.is-active, 
  .navbar-link.is-active,
  a.navbar-item.is-active:not(:focus):not(:hover), 
  .navbar-link.is-active:not(:focus):not(:hover) {
    color: $primary;
    background-color: rgba(0, 0, 0, .2);
    border: 1px solid $primary;
    @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
  }
  a.icon {
    margin-left: .5em;
  }
  a:hover {
    color: $hover;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid $hover;
    @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));

    &.icon {
      background-color: transparent;
      border: none;
      box-shadow: none;
      .remix {
        fill: $hover;
      }
    }
  }
}