// THANKS: https://codepen.io/wikiki/pen/XagrqJ
.has-ribbon {
  position: relative;
}
.ribbon {
  background-color: $primary;
  box-shadow: 3px 3px 3px rgba(#000, .3), -3px -3px 3px rgba($text, .07);
  color: #363636;
  font-size: 1rem;
  justify-content: center;
  text-align: center;
  white-space: nowrap;
  position: absolute;
  top: 1.5em;
  font-weight: 400;
  z-index: 60;
  right: auto;
  left: 0;
  border-left: none;
  transition: background .2s;
}
.ribbon a {
  color: $text;
  display: block;
  font-weight: 600;
  @include font-header;
  padding: 0.2em 0.75em 0.3em 0.75em;
}

.ribbon:hover {
  background-color: darken($primary, 10%) !important;
  box-shadow: inset 3px 3px 3px rgba(#000, .3), inset -3px -3px 3px rgba($text, .2);
}