a.anchor {
  display: inline-block;
  .anchor-icon::after {
    content: "\eeb7";
    font-family: "remixicon";
    display: inline-block;
    font-size: 75%;
  }
}

.is-single-content,
aside.related-articles,
#comments {
  .title.is-4 {
    margin: 1.5em 0 1.5em -1em;
    color: $hover;  overflow: hidden;
    text-align: center;
    
    &:before,
    &:after {
      background: rgba($primary, .4);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    
    &:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }
}

.is-single-content {
  margin: 1.5rem 0 0 0;
  padding: 1rem 1rem 0 2.5rem;

  .content.box {
    display: flex;
    flex-direction: column;

    & > div {
      padding-bottom: 1em;
    }
  } 

  &.has-image {
    padding: 1rem 1rem 0 4rem;
    figure.image {
      float: left;
      margin: .28em 1em 0 -2.8em;
      height: 381px;
      width: 274px;
      padding: 0;
      img {
        border-radius: $radius-large;
        @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .5), rgba($text, .1));
        z-index: 1;
        object-fit: cover;
      }
      figcaption {
        z-index: 2;
        position: absolute;
        font-size: 11px;
        bottom: 0;
        color: $text;
        padding: .31em .5em;
        width: 100%;
        height: 37px;
        border-top: 1px solid #222;
        overflow: hidden;
        opacity: .7;
        background-color: rgba(darken($background, 1%), .5);
        text-align: left;
        svg {
          width: 20px;
          height: 20px;
          fill: $primary;
          @include translate(0, 6px);
        }
      }
    }
  }

  h1.title {
    color: $hover;
    @include font-header;
    // text-shadow: -1px -1px 1px rgba(lighten($primary, 20%), .5), 1px 1px 1px rgba($hover, .6);
    // @include font-black;
    &:not(.no-subtitle) {
      padding-bottom: 0.5714em;
    }
  }
  h2.subtitle {  
    color: $text;
    font-size: 1.3rem;
    line-height: 1.5;
    @include font-bold;
  }
  h1, h2, h3, h4, h5, h6 {
    @include font-header;
    color: $hover;
    scroll-margin-top: 3em;
  }
  
  pre {
    background: $pageBack;
  }
  blockquote {
    border-left: 5px solid $primary;
    color: rgba($text, .7);
  }
  ul {
    list-style: disc;
    li {
      font-size: 1em;
      line-height: 1.7em;
      &::marker {
        color: $small;
      }
    }
  }
  ol {
    li::marker {
      color: $small;
    }

    ol {
      margin-top: .5em;
    }
  }

  .details-icons {
    margin: 2em 0 1em 0;
    left: 248px;
    width: calc(100% - 248px);
  
    span[data-tooltip] {
      display: inline-block;
    }
    span.tag.is-primary {
      color: #ffffff;
      font-weight: 600;
    }
  
    .remix-small {
      fill: #ffffff;
      height: 18px;
      width: 18px;
      margin-left: 6px;
      @include translate(0, 3px);
    }
  
    .details-icons-wrapper {
      margin-left: -3.1em;
    }
  }

  .details-tags {
    p.title.is-5 {
      @include font-regular;
      margin-bottom: .7em;
      color: $accent;
      display: inline-block;
      width: 10em;
    }
    
    .tags {
      display: inline-block;
      span.tag {
        color: #ffffff;
        background: $small;
      }
    }
  }

  .ratings {
    p.title.is-5 {
      @include font-regular;
      margin-bottom: .7em;
      color: $accent;
      display: inline-block;
      width: 10em;
    }
    .stars {
      display: inline-block;
    }
    .star-count {
      color: $secondary;
    }
    .remix {
      fill: $small;
      @include translate(0, 5px);
    }
  }

  section.footnotes {
    margin-bottom: 1.5em;
  }

  .series-footer {
    border-top: 1px solid darken($background, 6%);
    background: darken($background, 2%);
    margin: auto -1.25rem -1.25rem -1.25rem;
    padding: 1.25rem;
    position: relative;
    
    .remix {
      height: 20px;
      width: 20px;
      @include translate(0, 4px);
    }
    a:hover .remix {
      fill: $hover;
    }
  }

}

section.informations {
  margin: 1.5rem 0 0 0;
  padding: 1rem 0 0 0;

  .column {
    padding-left: 1rem;
  }

  p.title.is-4 {
    @include font-header;
    margin-bottom: .5em;
    color: $accent;
    overflow: hidden;
    text-align: center;
    
    &:before,
    &:after {
      background: rgba($primary, .4);
      content: "";
      display: inline-block;
      height: 1px;
      position: relative;
      vertical-align: middle;
      width: 50%;
    }
    
    &:before {
      right: 0.5em;
      margin-left: -50%;
    }
    
    &:after {
      left: 0.5em;
      margin-right: -50%;
    }
  }

  .information-section {
    margin-bottom: 1em;

    .category-line {
      span.tag {
        background-color: $accent;
        @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .3), rgba($text, .07));
        font-size: 1rem;
        text-align: center;
        border: none;
        margin: .5em .5em 1em 0;
        padding: 0;
        transition: all .3s ease-out;
        white-space: normal;
        height: auto;
        a {
          color: #ffffff;
          font-weight: 600;
          @include font-header;
          padding: 0.3em .75em;
          transition: all .3s ease-out;
          display: inline-block;
          width: 100%;
          &:hover {
            color: $background;
          }
        }
        &:hover {
          color: $background;
          background-color: $hover !important;
          @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
        }
      }    
    }

    .date-line, .tags-line, .reading-time-line, .serie-line, .rating-line, .comments-line {
      font-size: 13px;
      letter-spacing: 0;
      color: lighten($small, 10%);
      padding-bottom: .4em;
      .remix-small {
        margin-right: 5px;
        @include translate(0, 2px);
      }
      .remix {
        fill: $small;
        width: 15px;
        height: 15px;
        @include translate(0, 2px);
      }
    }

    .date-line, .tags-line, .reading-time-line {
      // text-transform: uppercase;
      // font-size: 11px;
      // letter-spacing: 1px;
      .remix-small {
        margin-right: 10px;
      }
    }

    .comments-line {
      .remix-small {
        margin-right: 7px;
        @include translate(0, 4px);
      }
    }

    .ratings-single {
      span.stars-wrapper .remix {
        // @include translate(0, 4px);
      }
    }

    .serie-line {
      padding-left: 27px;
      text-indent: -27px;
      .remix-small {
        margin-right: 10px;
      }
    }
  }

  .toc-section, .serie-section, .author-section {
    margin-bottom: 1em;
    font-size: 15px;

    p.title.is-6 {
      margin-bottom: .75em;
      @include font-bold;
      // text-transform: uppercase;
    }

    ul {
      list-style: disc;
      margin-left: 1em;
      li {
        &::marker {
          color: $small;
        }
        &:hover, span.small:hover, &:hover span.small {
          color: $hover;
        }  
        span.small {
          color: $secondary;
        }
        &.is-active:hover {
          color: $text;
        }
      }
    }
    ul li ul li {
      margin: 0;
    }
    ol {
      margin: 0 0 0 1.3em;
      padding: 0;
      li {
        color: $secondary;
        &::marker {
          color: $small;
        }
        &:hover {
          color: $hover;
        }
        &.is-active {
          color: $text;
          &:hover {
            color: $text;
          }
        }
      }
    }
  }

  .author-section {
    margin-bottom: 0;
    padding-bottom: 0;
    
    @media (min-width: 1024px) and (max-width: 1300px) {
      .content {
        display: none;
      }
      .card-footer-item {
        padding: .75em;
      }
    }
  }

}

aside.related-articles {
  padding: 1.5rem 0 0 0;
  .title.is-4 {
    margin: 3rem .66em .75em .66em;
  }
  a.title {
    color: $primary;
    @include font-header;
    &:hover {
      color: $hover;
    }
  }
    
  @media (max-width: 1408px) {
    .card.is-small {
      min-height: 200px;
    }
    .columns.is-multiline {
      display: flex;
    }
  }

  @media (max-width: 1215px) {
    .columns .column:nth-child(4) {
      display: none !important;
    }
  }
  @media (max-width: 768px) {
    .columns .column:nth-child(3) {
      display: none !important;
    }
  }
  
}