a.anchor {
  display: inline-block;
  .anchor-icon::after {
    content: "\eeb7";
    font-family: "remixicon";
    display: inline-block;
    font-size: 75%;
  }
}

.is-single-top {
  margin: 1.5rem 0 0 0;
  padding: 1rem 1rem 0 2.5rem;

  .content.box {
    display: flex;
    flex-direction: column;

    div {
      padding-bottom: 1em;
    }

    h1, h2, h3, h4, h5, h6 {
      scroll-margin-top: 3em;
    }

    figure {
      position: relative;
      figcaption {
        z-index: 2;
        position: absolute;
        font-size: 11px;
        bottom: 0;
        color: $text;
        padding: .31em .5em;
        width: 100%;
        height: auto;
        border-top: 1px solid #222;
        overflow: hidden;
        line-height: 40px;
        opacity: .7;
        background-color: rgba(darken($background, 1%), .5);
        svg {
          width: 20px;
          height: 20px;
          fill: $primary;
          @include translate(0, 6px);
        }
      }
      img {
        border-radius: $radius-large;
        @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .5), rgba($text, .1));
      }
      &:hover figcaption {
        opacity: 1;
      }
    }
  } 

  &.has-image {
    padding: 1rem 1rem 0 4rem;
    figure.image {
      float: left;
      margin: .28em 1em 0 -2.8em;
      height: 413px;
      width: 274px;
      padding: 0;
      img {
        border-radius: $radius-large;
        @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .5), rgba($text, .1));
        z-index: 1;
      }
      figcaption {
        z-index: 2;
        position: absolute;
        font-size: 11px;
        bottom: 0;
        color: $text;
        padding: .31em .5em;
        width: 100%;
        height: 37px;
        border-top: 1px solid #222;
        overflow: hidden;
        opacity: .7;
        background-color: rgba(darken($background, 1%), .5);
        text-align: left;
        svg {
          width: 20px;
          height: 20px;
          fill: $primary;
          @include translate(0, 6px);
        }
      }
    }
  }
}

.is-single-information p.title.is-4 {
  @include font-header;
  margin-bottom: .5em;
  color: $accent;
}

.is-single-information p.title.is-5 {
  @include font-regular;
  margin-bottom: .5em;
  color: $accent;
}

article.content h1.title {
  @include font-header;
}

.content article h2, .content h2 {
  @include font-header;
  color: $hover;
}
.content article h2, .content h2, .content h3, .content h4, .content h5, .content h6 {
  @include font-header;
  color: $hover;
}


.is-single-top article h1.title {
  color: $hover;
  @include font-header;
  // text-shadow: -1px -1px 1px rgba(lighten($primary, 20%), .5), 1px 1px 1px rgba($hover, .6);
  // @include font-black;
  &:not(.no-subtitle) {
    padding-bottom: 0.5714em;
  }
}
h2.subtitle {
  color: $text;
  font-size: 1.3rem;
  line-height: 1.5;
  @include font-bold;
}

section.footnotes {
  margin-bottom: 1.5em;
}

.is-single-information {
  margin: 1.5rem 0 0 0;
  padding: 1rem 1rem 0 1.5rem;
}

.details-single {
  margin: 2em 0 1em 0;
  left: 248px;
  width: calc(100% - 248px);

  span[data-tooltip] {
    display: inline-block;
  }
  span.tag.is-primary {
    color: #ffffff;
    font-weight: 600;
  }

  .remix-small {
    fill: #ffffff;
    height: 18px;
    width: 18px;
    margin-left: 6px;
    @include translate(0, 3px);
  }

  .details-icon-wrapper {
    margin-left: -3.1em;
  }
}

.details-single-iconless {
  p.title {
    display: inline-block;
    width: 10em;
    color: $text;
  }
  .tags {
    display: inline-block;
    span.tag {
      color: #ffffff;
      background: $small;
    }
  }
}
 
.ratings {
  p.title {
    display: inline-block;
    width: 10em;
    color: $secondary;
  }
  .stars {
    display: inline-block;
  }
  .star-count {
    color: $secondary;
  }
  .remix {
    fill: $small;
    @include translate(0, 5px);
  }
}

.single-information {
  margin-bottom: 3em;

  .date-single, 
  .tags-single,
  .reading-time-single,
  .series-single,
  .ratings-single,
  .comments-single {
    font-size: 13px;
    letter-spacing: 0;
    color: lighten($small, 10%);
    padding-bottom: .4em;
    .remix-small {
      margin-right: 5px;
      @include translate(0, 2px);
    }
    .remix {
      fill: $small;
      width: 15px;
      height: 15px;
      @include translate(0, 2px);
    }
  }
  .series-single {
    padding-left: 27px;
    text-indent: -27px;
    .remix-small {
      margin-right: 10px;
    }
    // text-transform: uppercase;
  }
  .date-single, 
  .tags-single,
  .reading-time-single {
    .remix-small {
      margin-right: 10px;
    }
  }
  .comments-single {
    .remix-small {
      margin-right: 7px;
      @include translate(0, 4px);
    }
  }
  .ratings-single {
    span.stars-wrapper .remix {
      // @include translate(0, 4px);
    }
  }
  .date-single time:last-of-type .remix-small {
    margin-right: 0;
  }
  .date-single, 
  .tags-single,
  .reading-time-single {
    text-transform: uppercase;
    font-size: 11px;
    letter-spacing: 1px;
  }
  .updated {
    padding-left: 1em;
  }

  .categories-single {
    span.tag {
      background-color: $accent;
      @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .3), rgba($text, .07));
      font-size: 1rem;
      text-align: center;
      border: none;
      margin: .5em .5em .5em 0;
      padding: 0;
      transition: all .3s ease-out;
      a {
        color: #ffffff;
        font-weight: 600;
        @include font-header;
        padding: 0.3em .75em;
        transition: all .3s ease-out;
        display: inline-block;
        width: 100%;
        &:hover {
          color: $background;
        }
      }
      &:hover {
        color: $background;
        background-color: $hover !important;
        @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
      }
    }    
  }
}

.toc-single, 
.serie-single {
  margin-bottom: 3em;
  font-size: 15px;
  p.title.is-6 {
    margin-bottom: .75em;
    @include font-regular;
  }
  ul {
    li {
      &:before {
        content: "▪";
        color: $secondary;
        margin-right: .5em;
      }
      &:hover, span.small:hover, &:hover span.small {
        color: $hover;
      }  
      span.small {
        color: $secondary;
      }
      &.is-active:hover {
        color: $text;
      }
    }
  }
  ul li ul li {
    &:before {
      content: "▪";
      color: $secondary;
      margin-right: .5em;
      margin-left: 1.2em;
    }
  }
  ol {
    margin: 0 0 0 1.3em;
    padding: 0;
    li {
      color: $secondary;
      &:hover {
        color: $hover;
      }
      &.is-active {
        color: $text;
        &:hover {
          color: $text;
        }
      }
    }
  }
}

.series-single-footer {
  border-top: 1px solid darken($background, 6%);
  background: darken($background, 2%);
  margin: auto -1.25rem -1.25rem -1.25rem;
  padding: 1.25rem;
  position: relative;
  
  .remix {
    height: 20px;
    width: 20px;
    @include translate(0, 4px);
  }
  a:hover .remix {
    fill: $hover;
  }
}

.related-content-single {
  padding: 1.5rem 0 0 0;
  a.title {
    color: $primary;
    &:hover {
      color: $hover;
    }
  }
}

article.content {
  pre {
    background: $pageBack;
  }
  blockquote {
    border-left: 5px solid $primary;
    color: rgba($text, .7);
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
    li {
      font-size: 1em;
      line-height: 1.7em;
      margin: 0;
      padding: 0;
      &:before {
        content: "•";
        font-size: 30px;
        color: $primary;
        margin-left: .5em;
        margin-right: .3em;
      }
    }
  }
}