#resultsWrapper {
  position: absolute;
  height: 400px;
  width: 60vw;
  top: 56px;
  right: 0;
  z-index: 9999;
}
#results {
  height: 100%;
  padding: 1em;
  margin-top: 20px;
  border: 1px solid blue;
  @include font-regular;
  background: lighten($background, 7%);
  @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .05));
  border-radius: $radius-large;
  border: 1px solid rgba($primary, .2);
  overflow: auto;
  display: none;

  &:after {
    content: "";
    width: 20px; 
    height: 20px;
    position: absolute;
    top: 2px;
    right: 15%;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 20px solid lighten($background, 7%);
    z-index: 55;
  }

  a.title {
    color: $primary;
    font-size: 24px;
    line-height: 27px;
    &:hover {
      border: none;
      box-shadow: none;
      background: none;
      color: $hover;
    }
  }

  .image {
    padding: 1em 0;
  }

  img {
    width: 100%;
    height: 100%;
    max-height: 100%;
    border-radius: $radius-large;
    @include box-shadow(false, 3px, 3px, 3px, rgba(#000, .5), rgba($text, .1));
    filter: sepia(1);
    transition: 0.3s;
    &:hover {
      filter: sepia(0);
    }
  }
}