main {
  /* make sure to cover the screen */
  min-height: calc(100vh - 360px);
  background-color: darken($pageBack, 3%);

  /* put on top */
  position: relative;
  z-index: 1;
  box-shadow: none;
}

footer.footer {
  margin: 0;
  padding: 0;

  background-color: darken($pageBack, 5%);
  @include box-shadow(true, 10px, 10px, 15px, rgba(#000, .3), rgba($text, .1));

  /* place on the bottom */
  position: sticky;
  bottom: 0;
  left: 0;
  top: 0;

  &:before,
  &:after {
    content: "";
    height: 100%;
    width: 100%;
    position: absolute;
    background-image: url("/images/header.svg");
    background-repeat: repeat-x;
    background-size: auto 300px;
    overflow: hidden;
    opacity: .4;
  }
  &:before {
    background-position: center calc(90% + -30px);
    transform: rotate(180deg) scaleX(-1);
    filter: sepia(.6) blur(.1em) url("#turbulence");
  }
  &:after {
    bottom: 90%;
    background-position: 50% calc(100% + -5px);
  }
  
  .content {
    padding: 3em;
  }

  border: none;
  a {
    color: $primary;
  }
  a:hover {
    color: darken($primary, 15%);
  }
}

.back-to-top {
  position: fixed;
  z-index: 999999;
  display: none;
  bottom: 3em;
  right: 3em;
  height: 55px;
  width: 55px;
  border-radius: 50%;
  font-weight: 600;
  background-color: darken($background, 10%);
  @include box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
  border: 1px solid rgba($primary, .2);
  color: $hover;
  transition: background, border .3s ease-out;
  margin: 2em .5em .5em .5em;
  cursor: pointer;
  outline: none;
  .remix {
    fill: $primary;
    transition: fill .3s ease-out;
    width: 40px;
    height: 40px;
    @include translate(-1px, 2px);
  }
 &:hover, &:focus {
    border: 1px solid $primary;
    color: $primary;
    font-weight: 600;
    @include box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
    border: 1px solid $hover;
    color: $primary;
    .remix {
      fill: $hover;
    }
  }
}