<!DOCTYPE html>
<html lang="de" data-theme="dark">
    {{- partial "_base/head" . -}}

    <body class="{{if .Layout}}layout-is-{{ .Layout }}{{end}} kind-is-{{ .Kind }}">
        <header class="hero is-medium has-sky">
            {{- partial "_base/hero" . -}}
        </header>

        {{ partial "_base/navigation" . }}

        <main class="content section">
            {{- block "main" . }}{{- end }}
        </main>
        
        <footer class="footer">
            {{- partial "_base/footer" . -}}
        </footer>

        <!-- Footer Scripts -->
        {{- $sunCalc := resources.Get "js/suncalc.js" -}}
        {{- $main := resources.Get "js/main.js" -}}
        {{- $search := resources.Get "js/search.js" -}}
        {{- $firework := resources.Get "js/firework.js" -}}
        {{- $navbar := resources.Get "js/navbar.js" -}}
        {{- $header := resources.Get "js/header.js" -}}
        {{- $script := slice $sunCalc $main $search $firework $navbar $header | resources.Concat "js/footerBundle.js" | resources.Minify | resources.Fingerprint -}}
        <script async defer src="{{ $script.Permalink }}"></script>

    </body>
    
</html>
