<!DOCTYPE html>
<html lang="de" data-theme="dark">
    {{- partial "head.html" . -}}

    <body>
        <header class="hero is-medium has-sky">
            {{- partial "hero" . -}}
        </header>

        {{ partial "navigation" . }}


        <div class="columns is-gapless is-multiline" style="min-height:calc(100vw - 300px)">
            <main class="column">

                <div>
                    {{- block "main" . }}{{- end }}
                </div>
            </main>

        </div>
            
        
        <footer class="footer">
            {{- partial "footer" . -}}
        </footer>

        <!-- Footer Scripts -->
        {{- $sunCalc := resources.Get "js/suncalc.js" -}}
        {{- $main := resources.Get "js/main.js" -}}
        {{- $search := resources.Get "js/search.js" -}}
        {{- $firework := resources.Get "js/firework.js" -}}
        {{- $navbar := resources.Get "js/navbar.js" -}}
        {{- $header := resources.Get "js/header.js" -}}
        {{- $script := slice $sunCalc $main $search $firework $navbar $header | resources.Concat "js/footerBundle.js" | resources.Minify | resources.Fingerprint -}}
        <script async defer src="{{ $script.Permalink }}"></script>

    </body>
    
</html>
