{{ define "main" }}

    <article class="box {{ if .Resources -}} has-image{{- end -}}">
        {{- if .Resources -}}
            <figure class="image is-4by3">
                {{- $img := (.Resources.ByType "image").GetMatch "cover*" -}}
                {{- with $img -}}

                    {{ $image := $img.Process "fill 480x320 webp" }}
                    <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}" width="480" height="320" loading="lazy">

                    {{ with .Exif }}{{ with .Tags.ImageDescription  }}
                        <figcaption>
                            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ $.Site.Params.remixicon_version}}#information-line"></use></svg>
                            {{ . | safeHTML }}
                        </figcaption>
                    {{ end }}{{ end }}
                {{- end -}}
            </figure>
        {{- end -}}
        <div class="box-content">
            {{ $pagename := .Title }}
    
            {{ if eq .Kind "term" }}
                {{ if .Parent.Params.translation.singular }}
                    {{ $pagename = printf "%s%s %s" .Parent.Params.translation.singular ": " .Title }}
                {{ else }}
                    {{ $pagename = .Title }}
                {{ end }}
            {{ else if eq .Kind "taxonomy" }}
                {{ if .Params.translation.plural }}
                    {{ $pagename = .Params.translation.plural }}
                {{ else }}
                    {{ $pagename = .Title }}
                {{ end }}
            {{ else }}
                {{ $pagename = .Title }}
            {{ end }}
    
            <h1 class="title is-1" data-heading="{{ $pagename }}">{{ $pagename }}</h1>
            {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
            {{ if .Summary }}{{ .Summary }}{{ end }}
            
        </div>
    </article>

    <div class="grid is-row-gap-4 is-multiline {{if eq .Kind "taxonomy"}} is-column-gap-4 is-col-min-13 is-small {{else}} is-column-gap-7 is-col-min-19 {{end}}">
        {{ $pageCount := len .Pages }}
        {{ range .Pages.ByPublishDate.Reverse }}
            {{ partial "card" . }}
        {{ end }}
        
        {{ if eq $pageCount 1 }}
            <div class="cell empty-cell"></div>
            <div class="cell empty-cell"></div>

            {{if eq .Kind "taxonomy"}}
                <div class="cell empty-cell"></div>
                <div class="cell empty-cell"></div>
            {{ end }}
        {{ end }}
        
        {{ if eq $pageCount 2 }}
            <div class="cell empty-cell"></div>

            {{if eq .Kind "taxonomy"}}
                <div class="cell empty-cell"></div>
                <div class="cell empty-cell"></div>
            {{ end }}
        {{ end }}

        {{if eq .Kind "taxonomy"}}
            {{ if eq $pageCount 3 }}
                <div class="cell empty-cell"></div>
                <div class="cell empty-cell"></div>
            {{ end }}
            {{ if eq $pageCount 4 }}
                <div class="cell empty-cell"></div>
            {{ end }}
        {{ end }}
    </div>

{{ end }}