@use "vars/helpers";
@use "sass:color";
@use "mixins/effects";
@use "mixins/animations";
@use "mixins/components";
@use "mixins/responsive";

article.card.is-horizontal {
    background: color.adjust(helpers.$dark, $lightness: 5%);
    @include effects.box-shadow(false, 5px, 5px, 5px, rgba(#000, .5), rgba(helpers.$light, .05));
    border: 1px solid rgba(helpers.$gold, .2);
    height: 100%;
    // transition: transform border .2s ease-out;
    color: color.adjust(helpers.$light, $lightness: 0.5%);
    max-width: 733.5px;
    margin-left: auto;
    margin-right: auto;

    &.is-fixed {
      @include effects.box-shadow(false, 5px, 5px, 5px, rgba(#000, .55), rgba(helpers.$light, .1));
      border: 1px solid rgba(helpers.$gold, .5);
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 6px;
      width: 0;
      border-radius: 3px;
      height: 3px;
      background: helpers.$gold;
      transition: width .2s ease-out;
    }

    &:not(.is-log):hover {
      @include effects.box-shadow(false, 5px, 5px, 5px, rgba(#000, .55), rgba(helpers.$light, .1));
      // transform: scale(1.01);

      &::after {
        width: calc(100% - 12px);
      }
    }

    &:not(.is-log) .card-content {
      display: flex;
      flex-direction: column;

      .content {
        flex: 1;
      }
    }

    &:not(.is-log) .title a {
      color: helpers.$gold-light;
      @include helpers.font-header-bold;
      &:hover {
        color: helpers.$gold;
      }
    }

    &:not(.is-log) .subtitle {
      color: color.scale(helpers.$dark, $lightness: 50%);
      font-size: 80%;

      time {
       padding-right: .75em;
      }

      svg {
        fill: color.scale(helpers.$dark, $lightness: 40%);
        width: 15px;
        height: 15px;
        @include animations.translate(0, 3px);
        margin-right: 2px;
      }
    }

    &:not(.is-log) .card-content {
      max-height: 435px;
      .content {
        overflow: hidden;
        margin-bottom: .5rem;
        position: relative;
        &::after {
          content: "";
          position: absolute;
          display: block;
          width: 100%;
          height: 20%;
          z-index: 2;
          bottom: 0;
          right: 0;
          background: linear-gradient(to top, color.adjust(helpers.$dark, $lightness: 5%) 0%, rgba(0, 0, 0, 0) 100%);
        }
      }
    }

    // &:not(.is-log) .rating {
    //   ul {
    //     list-style: none;
    //     margin: 0 0 .7em 0;
    //     width: auto;
    //     display: inline-block;
    //     li {
    //       display: inline-block;
    //       .remix {
    //         fill: helpers.$gold;
    //         width: 18px;
    //         height: 18px;
    //         @include helpers.translate(0, 4px);
    //       }
    //     }
    //     li.star-count {
    //       color: helpers.$gold;
    //       font-size: 13px;
    //       padding-left: .5em;
    //       padding-top: 0;
    //     }
    //   }
    // }

    .button.round-button {
      position: absolute;
      bottom: 1.5em;
      right: 1.5em;
      z-index: 3;
      display: inline-grid;
    }
     
    .tags-wrapper {
      font-size: 75%;
      text-transform: uppercase;
      color: helpers.$gold;
      a {
        color: helpers.$gold-light;
        padding-left: 0.4em;
        &:hover {
          color: helpers.$gold;
        }
      }
      .remix-small {
        height: 15px;
        width: 15px;
        margin-right: 2px;
        fill: color.scale(helpers.$dark, $lightness: 40%);
        @include animations.translate(0, 3px);
      }
    }
  
    .card-footer {
      font-size: 80%;
      background: helpers.$dark;
      border-color: rgba(helpers.$gold-dark, .5);
    
      .author-img {
        position: absolute;
        left: calc(50% - 24px);
        bottom: 1.4em;
        transition: all .3s ease-out;
        z-index: 2;
        img {
          filter: grayscale(1);
          @include effects.box-shadow(false, 3px, 3px, 5px, rgba(#000, .3), rgba(helpers.$light, .05));
          border: 1px solid helpers.$dark;
          
          &:hover {
            border: 1px solid helpers.$gold;
            filter: none;
          }
        }
        &.more-authors {
          display: inline-block;
  
          .author-opener {
            @include components.round-button(true, 48px, helpers.$gold, color.adjust(helpers.$dark, $lightness: 5%));
            background: color.adjust(helpers.$dark, $lightness: -4%);
            font-size: 1.3em;
            @include helpers.font-header;            
          }
  
          .more-authors-img {
            background: color.adjust(helpers.$dark, $lightness: -4%);
            display: inline-block;
            margin-left: 10px;
            margin-bottom: -24px;
            position: relative;
            height: 62px;
            bottom: -18px;
            padding: 7px;
            @include effects.box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba(helpers.$light, .07));
            display: none;
  
            &:before {
              content:"";
              border-style: solid;
              border-width: 10px 15px 10px 0;
              border-color: transparent color.adjust(helpers.$dark, $lightness: -4%) transparent transparent;
              position: absolute;
              left: -15px;
              top: 21px;
            }
  
            figure {
              margin-right: 10px;
              display: inline-block;
              border: none;
              &:last-of-type {
                margin-right: 0;
              }
            }
          }
  
          .author-opener:hover + .more-authors-img,
          .more-authors-img:hover {
            display: inline-block;
          }
  
        }
      }
      
      .card-footer-item {
        color: color.scale(helpers.$dark, $lightness: 40%);
        padding: .75em 1.5em;
        border-color: rgba(helpers.$gold-dark, .5);
        span svg {
          @include animations.translate(0, 5px);
        }
        svg.remix-small {
          width: 20px;
          height: 20px;
          fill: color.scale(helpers.$dark, $lightness: 40%);
          margin-right: 2px;
        }
      }
    }
}

article.card.is-horizontal:not(.has-image):not(.is-log) {
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "content" "footer";
    .card-content { grid-area: content; }
    .card-footer { grid-area: footer; }
  
    .ribbon {
      top: 1.3em;
      right: -3px;
      left: auto;
    }
}

article.card.is-horizontal.has-image {
    display: grid;
    grid-template-columns: minmax(100px, 250px) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "image content" "footer footer";
    .card-image { grid-area: image; }
    .card-content { grid-area: content; }
    .card-footer { grid-area: footer; }

    .card-image figure img {
      filter: sepia(1);
      transition: filter 0.3s ease;
    }
    
    &:not(.is-log):hover .card-image figure img {
      filter: sepia(0);
    }
  
    .ribbon {
      top: 3em;
      left: -1.66em;
    }
    .card-image {
      figure.image {
        height: calc(100% - 1.5em);
        margin-left: -1.5em;
        margin-top: 1.5em;
        figcaption {
          position: absolute;
          font-size: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          display: inline-block;
          padding: .5em;
          bottom: 0;
          color: helpers.$light;
          width: 100%;
          border-top: 1px solid rgba(color.adjust(helpers.$dark, $lightness: -10%), .5);
          background-color: rgba(color.adjust(helpers.$dark, $lightness: -7%), .7);
          border-radius: 0 0 var(--bulma-card-radius) var(--bulma-card-radius);
          a {
            color: helpers.$gold;
            &:hover {
              color: helpers.$gold-light;
            }
          }
          svg {
            width: 16px;
            height: 16px;
            fill: helpers.$gold;
            margin-right: 3px;
            @include animations.translate(0, 3px);
          }
        }
        img {
          @include effects.box-shadow(false, 5px, 5px, 3px, rgba(#000, .5), rgba(helpers.$light, .05));
          border-radius: var(--bulma-card-radius);
          transition: 0.3s;
          object-fit: cover;
        }
      }
    }
}

article.card.is-horizontal.is-log {
    display: grid;
    min-height: 400px;
    grid-template-rows: 1fr auto;
    grid-template-columns: 1fr;
    grid-template-areas: "content" "footer";
    .card-content { grid-area: content; }
    .card-footer { grid-area: footer; }
  
    &.has-image {
      // &:hover .card-image figure.image img, 
      &:hover .card-image figure.image figcaption {
        opacity: 1;
      }

      .card-image {
        grid-area: content;
        position: absolute;
        width: calc(100% - 1.5em);
        height: 100%;
        z-index: 1;
        figure.image {
          width: calc(100% + 1.5em);
          background-color: helpers.$dark;
          border-radius: var(--bulma-card-radius);
          img {
            opacity: .5;
            // overflow: visible;
          }
          figcaption {
            opacity: .5;
            transition: opacity .3s ease;
          }
          
        }
      }
    }
   
    .card-content {
      left: -1.5em;
      top: 1.5em;
      height: calc(100% - 1.5em);
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      
      a {
        color: helpers.$gold;
        &:hover {
          color: helpers.$gold-light;
        }
      }
      
      h2.title, p.subtitle {
        display: none;
      }

      .content {
        position: relative;
        z-index: 2;
        padding: 1rem 0 1rem 0;
        font-size: 30px;
        @include helpers.font-header;
        line-height: 1.3;
        text-shadow: 3px 3px 4px rgba(#000, .5);
        background: linear-gradient(270deg, transparent 0%, rgba(25,25,25,.8) 50%, transparent 100%);
        &::before, &::after {
          font-family: "remixicon" !important;
          color: helpers.$gold-light;
          font-size: 25px;
          display: inline-block;
        }
        &::before {
          content: "\ec51";
          @include animations.translate(0, -8px);
        }
        &::after {
          content: "\ec52";
          @include animations.translate(-2px, -8px);
        }
      }
    }

    &:not(.has-image) .ribbon {
      top: 3em;
      left: -1.66em;
    }

    &:not(.has-image) .card-content {
      &::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: color.adjust(helpers.$dark, $lightness: -2%);
        border-radius: var(--bulma-card-radius);
        z-index: 1;
        @include effects.box-shadow(false, 5px, 5px, 3px, rgba(#000, .5), rgba(helpers.$light, .05));
      }

      .content {
        background: linear-gradient(270deg, transparent 0%, rgb(0, 0, 0, .5) 50%, transparent 100%);
      }
    }

    .card-footer-item.log-date {      
      color: color.scale(helpers.$dark, $lightness: 40%);

      time {
       padding-right: 1.5em;
      }

      svg {
        fill: color.scale(helpers.$dark, $lightness: 40%);
        width: 15px;
        height: 15px;
        @include animations.translate(0, 3px);
        margin-right: 2px;
      }
    }
}

// Archive
.is-medium article.card.is-horizontal {
  display: inline-flex;
  flex-direction: column;
  width: 100%;

  &.has-image .ribbon {
    margin-left: 1.5em;
    margin-top: -1.5em;
    z-index: 10;
  }
  &:not(.has-image).is-log .ribbon {
    margin-left: 1.5em;
    margin-top: -1.5em;
    z-index: 10;
  }

  &.is-log {
    display: grid;
    min-height: 350px;

    figure.image {
        margin-left: 0em;
        margin-top: unset;
        height: 100%;
    }

    .card-content {
      height: 100%;
      margin-top: -1.5em;
      margin-left: 1.5em;

      .content {
        font-size: 1.2em;

        &::before,
        &::after {
          font-size: 15px;
        }
      }
    }

    .card-footer time.updated {
      display: none;
    }
    
  }

  &:not(.is-log) {

    .card-content {
      height: fit-content;
      flex: 1;
      justify-content: center;

      .content {
        display: none;
      }

      .title,
      .content {
        align-content: center;
        margin: 0;

        a:hover {
          color: helpers.$gold !important;
        }
      }
    }

    &.has-image {
      .card-image {
        figure.image {
          height: 230px;
          margin-left: unset;
          margin-top: unset;
          width: 100%;
        }
      }
    }

    &:not(.has-image) {
      margin-left: unset;
      width: 100%;
      min-width: 100%;
      min-height: unset;
    }
  }
}

// Taxonomies
.is-small article.card.is-horizontal {
  display: block;

  .card-content .subtitle, 
  .card-footer,
  .ribbon {
    display: none;
  }

  .card-content .title {
    padding-bottom: .2em;
    flex: 1;
  }
  
  .card-content .title,
  .card-content .content {
    text-align: center;
    line-height: 1.5;
    flex: 1;
    align-content: center;
    margin: 0;

    a:hover {
      color: helpers.$gold !important;
    }
  }

  &.has-image {
    .card-image {
      figure.image {
        height: 230px;
        margin-left: unset;
        margin-top: unset;
        width: 100%;
      }
    }
  }

  &:not(.has-image) {
    margin-left: unset;
    width: 100%;
    min-width: 100%;
    min-height: unset;
  }
}

// Author Single Page
.is-small.author article.card.is-horizontal {
  background: color.adjust(helpers.$dark, $lightness: -2%);
  // box-shadow: none;

  .card-content {
    .title {
      text-align: left;
    }
    .subtitle {
      display: block;
    }
    .content {
      text-align: left;
    }
    .content::after {
      display: none;
    }
  }

  .card-footer {
    display: flex;

    .card-footer-item {
      &.log-date, &.formats {
        display: none;
      }
      
    }
  }
}

@include responsive.mobile {

  article.card.is-horizontal:not(.is-log) {
    &.has-image {
      display: block;

      .card-image {
        figure.image {
          height: 250px;
          margin-left: unset;
          margin-top: unset;
          width: 100%;
        }
      }

      .ribbon {
        left: -3px;
        margin-top: -1.5em;
      }
    }

    &:not(.has-image) {
      margin-left: unset;
      width: 100%;
      min-width: 100%;
    }
  }
  
  .grid:not(.is-medium) article.card.is-horizontal.is-log {
    // display: block;
    &.has-image {
      .card-image {
        figure.image {
          height: 100%;
          margin-left: unset;
          margin-top: unset;
          // width: 100%;
        }
      }
      
      .card-content {
        height: 100%;
        top: 0;
        left: 0;
      }
    }

    &:not(.has-image) {
      .card-content {
        height: 100%;
        top: 0;
        left: 0;
      }

      .ribbon {
        left: -3px;
        margin-top: -1.5em;
      }
    }

    .ribbon {
      left: -3px;
      margin-top: -1.5em;
    }
  }
}