@use "vars/helpers";
@use "sass:color";

body.layout-is-archive {
    main.content .column > h2.title {
        @include helpers.lined-title;
        margin-top: 1em;
    }
}

body.type-is-authors {
    .github-contributions {
        height: max-content;
        padding-bottom: 1.25em;
        overflow-x: auto;

        .github-calendar { 
            width: fit-content;
            height: 180px;
            min-height: 180px !important;
            padding: 1em;
            margin: 0 auto;
            // background: helpers.$dark;
            border-radius: 0.75rem;

            &.is-skeleton {
                width: 100%;
            }

            table td {
                border: 3px solid color.adjust(helpers.$dark, $lightness: -2%);
            }
        }

        .Link--muted { display: none; }
        caption.sr-only { display: none; }
        .ContributionCalendar-day[data-level='0'] {background-color: color.adjust(helpers.$dark, $lightness: -5%)}
        td.ContributionCalendar-label span[aria-hidden='true'] {color: color.adjust(helpers.$dark, $lightness: 40%)}

        p {
            height: 100%;
        }
    }
}