@use "vars/helpers";

// Burger Menu design
input#menu-switch {
    display: none;
}

input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(1) {
    transform: rotate(45deg);
}
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(2) {
    transform: rotate(-45deg);
}
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(3),
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(4) {
    opacity: 0;
}

input#menu-switch:checked ~ .navbar-menu {
    display: block;
}

nav.navbar {

    .navbar-item {
        @include helpers.font-bold;
    }

    .navbar-link:hover::after {
        width: .5em;
        height: .5em;
        transform: rotate(135deg);
        top: 57%;
        transition: transform .15s ease-in-out;
    }

    .navbar-link::after {
        width: .5em;
        height: .5em;
        transition: transform .15s ease-in-out;
    }
}