input#menu-switch {
    display: none;
}

input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(1) {
    // transform: translateY(5px) rotate(45deg);
    opacity: 0;
    // color: purple;
}
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(2) {
    opacity: 0;
    // color: orange;
}
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(3) {
    transform: translateY(6px) rotate(45deg);
    // color: blue;
}
input#menu-switch:checked + .navbar-brand .navbar-burger span:nth-child(4) {
    transform: translateY(-6px) rotate(-45deg);
    // color: red;
}

input#menu-switch:checked ~ .navbar-menu {
    display: block;
}