@use "vars/helpers";
@use "sass:color";

body.layout-is-archive {
    h2 {    
        text-align: center;
        overflow: hidden;
        @include helpers.font-header-bold;
        color: helpers.$gold;
        margin-top: 0;

        &:not(:first-child) {
            margin-top: 2.5em;
        }
        
        &:before,
        &:after {
            background: helpers.$gold-dark;
            content: "";
            display: inline-block;
            height: 1px;
            position: relative;
            vertical-align: middle;
            width: 50%;
        }
        
        &:before {
            right: .5em;
            margin-left: -50%;
        }
        
        &:after {
            left: .5em;
            margin-right: -50%;
        }
    }
}