@use "base/icons";
@use "src/bulma/utilities/mixins";

// https://bulma.io/documentation/components/menu/

.button.toggle-sidebar {
    position: absolute;
    z-index: 99;
    left: 2em;
    top: 2em;
}


.columns.is-gapless aside.column.sidebar {
    
    margin-left: -300px;
    transition: margin-left linear 0.3s;

    .menu {
        width: 300px;
    }

    &.is-opened {
        margin-left: 0;
    }

    @include mixins.mobile {
        position: absolute;
    }

    
    ul.menu-list li.toggle-parent {

        > a::after,
        &.sub-is-open > a::after {
            font-family: "remixicon";
            font-size: 1.2em;
            line-height: 1;
            font-weight: 900;
            float: right;
        }

        > a::after {
            content: "\ea6e";
        }

        &.sub-is-open > a::after {
            content: "\ea4d";
        }


        ul.toggle-parent-sublist {
            display: none;

            &.is-open {
                display: block;
            }
        }
    }

}