// UI Component mixins
@use "sass:color";
@use "../vars/colors" as c;
@use "../vars/fonts" as f;
@use "effects";
@use "animations";

// Round button mixin for consistent circular buttons
@mixin round-button($inset: true, $size: 48px, $color: c.$gold, $border: c.$gold-dark) {
  border-radius: 50%;
  width: $size;
  height: $size;
  color: $color;
  border: 1px solid rgba($border, .5);

  display: inline-flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  background: color.adjust(c.$dark, $lightness: -4%);
  transition: color .3s ease-out, transform .2s ease-out, border .2s ease-out;
  // cursor: pointer;

  @if $inset == true {
    @include effects.box-shadow(true, 3px, 3px, 5px, rgba(#000, .3), rgba(c.$light, .05));
  } @else {
    @include effects.box-shadow(false, 3px, 3px, 5px, rgba(#000, .3), rgba(c.$light, .05));
  }

  svg {
    fill: c.$gold;
    width: calc($size - 13px);
    height: calc($size - 13px);
    transition: fill .3s ease-out;
  }

  &:hover, &:focus {
    border: 1px solid $border;
    color: c.$gold-light;

    @if $inset == true {
      @include effects.box-shadow(false, 3px, 3px, 5px, rgba(#000, .3), rgba(c.$light, .05));
      @include animations.translate(0, -2px);
    } @else {
      @include effects.box-shadow(true, 3px, 3px, 5px, rgba(#000, .3), rgba(c.$light, .05));
      @include animations.translate(0, 2px);
    }
    svg {
      fill: c.$gold-light;
    }
  }
}

@mixin figure {
  height: calc(100% - 1.5em);
  margin-left: -1.5em;
  margin-top: 1.5em;

  img {
    @include effects.box-shadow(false, 5px, 5px, 3px, rgba(#000, .5), rgba(c.$light, .05));
    border-radius: .75rem;
    transition: 0.3s;
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    font-size: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    padding: .5em;
    bottom: 0;
    color: c.$light;
    width: 100%;
    border-top: 1px solid rgba(color.adjust(c.$dark, $lightness: -10%), .5);
    background-color: rgba(color.adjust(c.$dark, $lightness: -7%), .7);
    border-radius: 0 0 .75rem .75rem;
    a {
      color: c.$gold;
      &:hover {
        color: c.$gold-light;
      }
    }
    svg {
      width: 16px;
      height: 16px;
      fill: c.$gold;
      margin-right: 3px;
      @include animations.translate(0, 3px);
    }
  }
}

@mixin lined-title {
  text-align: center;
  overflow: hidden;
  text-align: center;
  color: color.scale(c.$dark, $lightness: 50%);
  @include f.font-header;
  
  &:before,
  &:after {
    background: rgba(c.$gold, .5);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
  }
  
  &:before {
    right: 0.5em;
    margin-left: -50%;
  }
  
  &:after {
    left: 0.5em;
    margin-right: -50%;
  }
}