{{ define "main" }}
 
  <div class="columns">

    <div class="column is-single-top is-9">
      <article class="content box">

        <h1 class="title{{if not .Params.description}} no-subtitle{{end}}">{{ .Title | default .Site.Title }}</h1>
        {{- with .Params.description -}}
          <h2 class="subtitle">{{ . | truncate 160 }}</h2>
        {{- end -}}

        {{ if .Params.icons }}
          <div class="details-single has-ribbon">
            <div class="ribbon is-single-page is-primary">
              <svg class="remix-small">
                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#bookmark-line"></use>
              </svg> Details
            </div>
            <span class="details-icon-wrapper">
              {{ range .Params.icons }}
                <span {{ if .tooltip }}data-tooltip="{{ .tooltip }}"{{ end }}>
                  <svg class="remix-big" style="fill: {{ .color }};">
                    <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#{{ .src }}"></use>
                  </svg>
                </span>
              {{ end }}
            </span>
          </div>
        {{ end }}
        
        {{ .Content }}
  
        {{ if .Params.series }}
          <div class="series-single-footer">
            {{ partial "series-footer" . }}
          </div>
        {{ end }}
      </article>
    </div>
    
    <div class="column is-single-information is-3">
      <div class="single-information">
        <p class="title is-4">Information</p>
        
        {{- if .Params.categories -}}
          <div class="categories-single">
            {{ range first 1 (.GetTerms "categories") }}
              {{ $catName := .LinkTitle }}
              <span class="tag" style="{{ range .Site.Params.categoryColor }}{{ if eq .name $catName }}background-color: {{ .color }};{{ end }}{{ end }}">
                <a href="{{ .Permalink }}">{{ .LinkTitle }}</a>
              </span>
            {{- end -}}
          </div>
        {{- end -}}

        <div class="date-single">
          <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#calendar-line"></use>
            </svg>{{ .PublishDate.Day }}. {{ index $.Site.Data.demonths (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}
          </time>
          <time class="updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#pencil-line"></use>
            </svg> {{ .Lastmod.Format "02.01.06" }}
          </time>
        </div>

        {{- if .Params.tags -}}
          <div class="tags-single">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#price-tag-3-line"></use>
            </svg>
            {{- range (.GetTerms "tags") -}}
              <a href="{{ .RelPermalink }}" class="hashtags">#{{ .LinkTitle }} </a> 
            {{- end -}}
          </div>
        {{- end -}}

        <div class="reading-time-single">
          <svg class='remix-small'>
            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#time-line"></use>
          </svg>{{ .ReadingTime }} {{ i18n "minutesRead" }}
        </div>

        {{- if .Params.rating -}}
          <div class="ratings-single">
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#time-line"></use>
            </svg>{{ partial "rating" . }} ({{ .Params.rating }})
          </div>
        {{- end -}}

        {{ if .Params.series }}
          <div class="series-single">
            {{ $name := index .Params.series 0 }}
            <svg class='remix-small'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#stack-line"></use>
            </svg>Dieser Artikel gehört zur Serie: <a href="{{.Site.BaseURL}}/series/{{$name | urlize}}">{{ $name }}</a>.
          </div>
        {{ end }}
      </div>

      {{ if ge (len .TableOfContents) 100 }}
        <div class="toc-single">
          <p class="title is-4">Übersicht</p>
          {{ .TableOfContents }}
        </div>
      {{ end }}
      
      {{ if .Params.series }}
        <div class="serie-single">
          <p class="title is-4">Serie</p>
          {{- $currentPage := . -}}
          {{- $series_name := index .Params.series 0 -}}

          {{- $.Scratch.Set "series_count" 0 -}}
          {{- range .Site.RegularPages.ByDate -}}
            {{- if in .Params.series $series_name -}}
              {{- $.Scratch.Add "series_count" 1 -}}
            {{- end -}}
          {{- end -}}

          <p class="title is-6"><a href="{{.Site.BaseURL}}/series/{{$series_name | urlize}}">{{ $series_name }} ({{ $.Scratch.Get "series_count" }})</a></p>
          <ol class="series-list">
            {{- range .Site.RegularPages.ByDate -}}
              {{- if in .Params.series $series_name -}}
                {{- if not (eq $currentPage.RelPermalink .RelPermalink) -}}
                  <li><a href="{{ .RelPermalink }}" title="{{ .Name }} page">{{ .Title }}</a></li>
                {{- else -}}
                  <li class="is-active">{{ .Title }} </li>
                {{- end -}}
              {{- end -}}
            {{- end -}}
          </ul>
          
        </div>
      {{ end }}

      {{ if .Params.authors }}
        {{ partial "single-pages/author-box" . }}
      {{ end }}
    </div>

  </div>

  {{ partial "single-pages/related-articles" . }}
 
{{ end }}
