{{ define "main" }}

  <h1 class="title">Layoutseite: articles/single.html</h1>

  
  <div class="content">
    <div class="columns">
      <div class="column box">
        <article>
          {{ .Content }}
        </article>  
      </div>
      
      <div class="column is-3">
        <div class="box">
        <p class="title">Information</p>
          <div class="time-date">
            <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
              {{ .PublishDate.Day }}. {{ index $.Site.Data.demonths (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}
            </time>
            <br />
            <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
              Updated: {{ .Lastmod.Day }}. {{ index $.Site.Data.demonths (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }}
            </time>
          </div>

          <div class="author">
            Author: {{ if .Params.Author }} {{ .Params.Author }} {{ else }} {{ .Site.Params.Author }} {{ end }}
          </div>
          <div class="category">
            Kategorie:
            {{ range (.GetTerms "category") }}
              <a href="{{ .Permalink }}"><span class="tag is-primary">{{ .LinkTitle }}</span></a>
            {{ end }}
          </div>
          <div class="tags">Tags:
            {{ range (.GetTerms "tags") }}
              <a href="{{ .Permalink }}"><span class="tag">{{ .LinkTitle }}</span></a>
            {{ end }}
          </div>
          <div class="reading-time">{{ .ReadingTime }} {{ i18n "minutesRead" }}</div>
        </div>

        <div class="box">
          <p class="title">Table of Content</p>
          {{ .TableOfContents }}
        </div>
      </div>
    </div>

  </div>
 
 {{ end }}
