<button id="back-to-top" class="button is-round is-primary is-outlined" title="Zurück zum Seitenanfang">
    <svg class="icon ri-2x">
        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#arrow-up-s-fill"></use>
    </svg>
</button>



<div class="content has-text-centered">
    <p>
    <strong>Bulma</strong> by <a href="https://jgthms.com">Jeremy Thomas</a>.
    The source code is licensed
    <a href="https://opensource.org/license/mit">MIT</a>. The
    website content is licensed
    <a href="https://creativecommons.org/licenses/by-nc-sa/4.0//"
        >CC BY NC SA 4.0</a
    >.
    </p>
</div>
