@use "vars/helpers";
@use "sass:color";
@use "mixins/components";
@use "mixins/effects";
@use "mixins/animations";

button, a.button {
    // transition: background, border .3s ease-out;
    font-weight: 600;
    // @include effects.box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));

    svg {
        fill: hsl(var(--bulma-button-h),var(--bulma-button-s),var(--bulma-button-l));
    }
    
    // &:hover, &:focus {
    //     @include effects.box-shadow(true, 5px, 5px, 5px, rgba(#000, .3), rgba($text, .07));
    // }

    &.is-primary {
        svg {fill: hsl(var(--bulma-button-h),var(--bulma-button-s),var(--bulma-button-l));}
    }

    &.round-button {
      @include components.round-button(false, 48px, helpers.$gold, color.adjust(helpers.$dark, $lightness: 5%));
    }

    &[disabled], &.is-disabled {
        cursor: not-allowed;
        box-shadow: none;
        &:hover {
            @include animations.translate(0, 0);
            box-shadow: none;
            border: 1px solid rgba(helpers.$dark, 1);
            svg {
                fill: helpers.$gold;
            }
        }
    }
}