@use "vars/helpers";
@use "sass:color";
@use "mixins/components";
@use "mixins/effects";
@use "mixins/animations";

button, a.button {
    font-weight: 600;
    @include effects.box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba(helpers.$gold, .07));
    transition: color .3s ease-out, background .2s ease-out;

    &:not(.round-button):not(.is-round) svg {
        fill: helpers.$gold-dark;
        width: 25px;
        height: 25px;
        @include animations.translate(-5px, 0);
        transition: fill .3s ease-out;
    }

    &.is-primary {
        &.is-outlined {
            border-color: helpers.$gold;
            background-color: color.adjust(helpers.$dark, $lightness: -2%);
        }
        
        svg {
            fill: helpers.$gold-dark;
        }
    }

    &.round-button {
      @include components.round-button(false, 48px, helpers.$gold, color.adjust(helpers.$dark, $lightness: 5%));
    }

    &[disabled], &.is-disabled, &:disabled,
    &.is-round[disabled], &.is-round.is-disabled, &.is-round:disabled {
        cursor: not-allowed;
        box-shadow: none;
        &:hover {
            @include animations.translate(0, 0);
            box-shadow: none;
            border: 1px solid rgba(helpers.$dark, 1);
            svg {
                fill: helpers.$gold;
            }
        }
    }
}