@use "vars/helpers";
@use "sass:color";

article.card.is-horizontal {
    background: color.adjust(helpers.$dark, $lightness: 5%);
    @include helpers.box-shadow(false, 3px, 3px, 3px, rgba(#000, .5), rgba(helpers.$light, .1));
    border: 1px solid rgba(helpers.$gold, .2);
    height: 100%;
    transition: transform border .2s ease-out;

    &.is-fixed {
      @include helpers.box-shadow(false, 3px, 3px, 5px, rgba(#000, .55), rgba(helpers.$light, .15));
      border: 1px solid rgba(helpers.$gold, .5);
    }

    &:hover {
      @include helpers.box-shadow(false, 3px, 3px, 5px, rgba(#000, .55), rgba(helpers.$light, .15));
      transform: scale(1.01);

      &::after {
        width: calc(100% - 12px);
      }
    }

    .title a, a.read-more {
      color: helpers.$gold-light;
      &:hover {
        color: helpers.$gold;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 6px;
      width: 0;
      border-radius: 3px;
      height: 3px;
      background: helpers.$gold;
      transition: width .2s ease-out;
    }

    .title a {
      @include helpers.font-header-bold;
    }

    .subtitle {
      color: helpers.$gold;
      font-size: 80%;

      time {
       padding-right: .75em;
      }

      svg {
        fill: helpers.$gold-dark;
        width: 18px;
        height: 18px;
        @include helpers.translate(0, 4px);
      }
    }

    // .rating {
    //   ul {
    //     list-style: none;
    //     margin: 0 0 .7em 0;
    //     width: auto;
    //     display: inline-block;
    //     li {
    //       display: inline-block;
    //       .remix {
    //         fill: helpers.$gold;
    //         width: 18px;
    //         height: 18px;
    //         @include helpers.translate(0, 4px);
    //       }
    //     }
    //     li.star-count {
    //       color: helpers.$gold;
    //       font-size: 13px;
    //       padding-left: .5em;
    //       padding-top: 0;
    //     }
    //   }
    // }
    .tags-wrapper {
      // padding: 0.5rem 0 0 0;
      font-size: 80%;
      // letter-spacing: 1px;
      text-transform: uppercase;
      color: helpers.$gold;
      a {
        color: helpers.$gold-light;
        padding-left: 0.4em;
        &:hover {
          color: helpers.$gold-light;
        }
      }
      .remix-small {
        height: 18px;
        width: 18px;
        margin-right: 0.5em;
        fill: helpers.$gold-dark;
        @include helpers.translate(0, 5px);
      }
    }
  
    .card-footer {
      font-size: 80%;
      color: helpers.$gold-dark;
      background: color.adjust(helpers.$dark, $lightness: -1%);
      border-color: rgba(helpers.$gold, .2);
      // .remix-small {
      //   margin-right: 0.4em;
      //   fill: color.adjust(helpers.$gold, $lightness: 10%);
      //   &.comments {
      //     margin-left: 1em;
      //   }
      // }
    
      // .author-img {
      //   position: absolute;
      //   left: calc(50% - 24px);
      //   bottom: 1em;
      //   z-index: 55;
      //   transition: all .3s ease-out;
      //   img {
      //     filter: grayscale(1);
          
      //     &:hover {
      //       border: 1px solid helpers.$gold;
      //       filter: none;
      //       @include helpers.box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba(helpers.$light, .07));
      //     }
      //   }
      //   &.more-authors {
      //     display: inline-block;
  
      //     .author-opener {
      //       background: color.adjust(helpers.$dark, $lightness: -6%);
      //       width: 48px;
      //       height: 48px;
      //       color: helpers.$gold;
      //       font-size: 1.5em;
      //       @include helpers.font-header;
      //       text-align: center;
      //       display: inline-block;
      //       border-radius: 50%;
      //       line-height: 48px;
      //       cursor: pointer;
      //       border: 1px solid color.adjust(helpers.$dark, $lightness: -6%);
      //       &:hover {
      //         border: 1px solid helpers.$gold;
      //       }
      //     }
  
      //     .more-authors-img {
      //       background: color.adjust(helpers.$dark, $lightness: -8%);
      //       display: inline-block;
      //       margin-left: 10px;
      //       margin-bottom: -24px;
      //       position: relative;
      //       height: 62px;
      //       bottom: -18px;
      //       padding: 7px;
      //       @include helpers.box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba(helpers.$light, .07));
      //       display: none;
  
      //       &:before {
      //         content:"";
      //         border-style: solid;
      //         border-width: 10px 15px 10px 0;
      //         border-color: transparent color.adjust(helpers.$dark, $lightness: -8%) transparent transparent;
      //         position: absolute;
      //         left: -15px;
      //         top: 21px;
      //       }
  
      //       figure {
      //         margin-right: 10px;
      //         display: inline-block;
      //         border: none;
      //         &:last-of-type {
      //           margin-right: 0;
      //         }
      //       }
      //     }
  
      //     .author-opener:hover + .more-authors-img,
      //     .more-authors-img:hover {
      //       display: inline-block;
      //     }
  
      //   }
      // }
      
      .card-footer-item {
        border-color: rgba(helpers.$gold, .2);
      //   div {
      //     padding: 0;
      //     margin: 0;
      //     display: inline-block;
      //     svg.remix-small {
      //       @include helpers.translate(0, 4px);
      //     }
      //     &::after {
      //       margin-left: -7px;
      //     }
      //   } 
      //   &:not(:last-child) {
      //     border-right: 1px solid color.adjust(helpers.$dark, $lightness: -6%);
      //   }
      }
    }
  }
  
  article.card.is-horizontal.no-image, article.card.is-small.no-image {
    // position: relative;
    width: calc(100% + 1.5em);
    min-width: calc(100% + 1.5em);
    // min-height: 300px;
    margin-left: -1.5em;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-template-areas: "content" "footer";
    .card-content { grid-area: content; }
    .card-footer { grid-area: footer; }
  
    .ribbon {
      top: 1.3em;
      right: 0;
      left: auto;
    }
  }
  
  article.card.is-horizontal.has-image {
    display: grid;
    grid-template-columns: minmax(100px, 250px) 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: "image content" "footer footer";
    .card-image { grid-area: image; }
    .card-content { grid-area: content; }
    .card-footer { grid-area: footer; }

    .card-image figure img {
      filter: sepia(1);
      transition: filter 0.3s ease;
    }
    
    &:hover .card-image figure img {
      filter: sepia(0);
    }
  
    .ribbon {
      top: 3em;
      left: -1.66em;
    }
    .card-image {
      figure.image {
        height: calc(100% - 1.5em);
        margin-left: -1.5em;
        margin-top: 1.5em;
        figcaption {
          position: absolute;
          font-size: 80%;
          display: flex;
          flex-direction: column;
          align-items: center;
          display: inline-block;
          padding: .5em;
          bottom: 0;
          color: helpers.$light;
          width: 100%;
          border-top: 1px solid rgba(color.adjust(helpers.$dark, $lightness: -10%), .5);
          background-color: rgba(color.adjust(helpers.$dark, $lightness: -7%), .7);
          border-radius: 0 0 var(--bulma-card-radius) var(--bulma-card-radius);
          a {
            color: helpers.$gold;
            padding-left: 5px;
            &:hover {
              color: helpers.$gold-light;
            }
          }
          svg {
            width: 16px;
            height: 16px;
            fill: helpers.$gold;
            margin-right: 3px;
            @include helpers.translate(0, 3px);
          }
        }
        img {
          @include helpers.box-shadow(false, 3px, 3px, 5px, rgba(#000, .5), rgba(helpers.$light, .15));
          border-radius: var(--bulma-card-radius);
          transition: 0.3s;
          object-fit: cover;
        }
      }
    }
  }
  
  // article.card.is-horizontal.quote {
  //   display: grid;
  //   grid-template-rows: 1fr auto;
  //   grid-template-columns: 1fr;
  //   grid-template-areas: "content" "footer";
  //   .card-content { grid-area: content; }
  //   .card-footer { grid-area: footer; }
  
  //   &:hover .card-image figure img {
  //     filter: sepia(1);
  //   }
   
  //   .card-content {
  //     width: 100%;
  //     height: 100%;
  //     min-height: 300px;
  //     position: relative;
      
  //     a {
  //       color: helpers.$gold;
  //       &:hover {
  //         color: helpers.$gold-light;
  //       }
  //     }
  
  //     .card-image {
  //       position: absolute;
  //       width: 100%;
  //       height: 100%;
  //       z-index: 1;
  //       figure.image {
  //         width: 100%;
  //         background-color: helpers.$dark;
  //         img {
  //           opacity: .5;
  //         }
  //         figcaption {
  //           background: none;
  //           border: none;
  //         }
          
  //       }
  //     }
  
  //     .card-content-inline {
  //       position: relative;
  //       top: 1.5em;
  //       left: -1.5em;
  //       height: calc(100% - 1.5em - 3px);
  //       width: 100%;
  //       z-index: 2;
  //       padding: 4rem 2rem 3rem 2rem;
  
  //       display: flex;
  //       flex-direction: column;
  
  //       h2 {
  //         color: helpers.$gold;
  //         width: 100%;
  //         margin: auto 0;
  //         text-shadow: 3px 3px 4px rgba(#000, .5);
  //         background: linear-gradient(270deg, transparent 0%, rgba(25,25,25,.8) 50%, transparent 100%);
  //         padding: .5em 0;
  //         &::before, &::after {
  //           font-family: "remixicon" !important;
  //           color: helpers.$gold;
  //         }
  //         &::before {
  //           content: "\ec51";
  //         }
  //         &::after {
  //           content: "\ec52";
  //         }
  //       }
  
  //       .heading.author {
  //         height: 48px;
  //         display: flex;
  //         flex-direction: row-reverse;
  //         align-items: center;
  //         align-self: flex-end;
  //         margin-left:auto;
  //         background: linear-gradient(270deg, transparent 0%, rgba(25,25,25,.8) 50%, transparent 100%);
  //         text-shadow: 3px 3px 4px rgba(#000, .5);
  //         transition: all .3s ease-out;
  //         figure {
  //           margin-left: 1em;
  //           img {
  //             transition: all .3s ease-out;
  //             filter: grayscale(1);
  //           }
  //         }
  //         &:hover img {
  //           border: 1px solid helpers.$gold;
  //           @include helpers.box-shadow(false, 5px, 5px, 5px, rgba(#000, .3), rgba(helpers.$light, .07));
  //           filter: none;
  //         }
  //       }
  //     }
  //   }
  // }
  
  
  // article.card.is-small.no-image, article.card.is-small-count.no-image {
  //   position: relative;
  //   margin-left: -1.5em;
  //   width: calc(100% + 1.5em);
  //   min-width: calc(100% + 1.5em);
  //   min-height: 300px;
  //   display: flex;
  //   .ribbon {
  //     top: 1.3em;
  //     left: 0;
  //     right: auto;
  //   }
  //   .card-content {
  //     margin: auto 0;
  //     width: 100%;
  //   }
  // }
  
  // article.card.is-small.has-image, article.card.is-small-count.has-image {
  //   position: relative;
  //   width: calc(100% + 1.5em);
  //   min-width: calc(100% + 1.5em);
  //   margin-left: -1.5em;
  //   .card-image {
  //     figure.image {
  //       height: 100%;
  //       figcaption {
  //         z-index: 2;
  //         position: absolute;
  //         font-size: 11px;
  //         bottom: 0;
  //         color: helpers.$light;
  //         padding: .31em .5em;
  //         width: 100%;
  //         height: 37px;
  //         border-top: 1px solid #222;
  //         overflow: hidden;
  //         opacity: .7;
  //         background-color: rgba(color.adjust(helpers.$dark, $lightness: -1%), .5);
  //         svg {
  //           width: 20px;
  //           height: 20px;
  //           fill: helpers.$gold;
  //           @include helpers.translate(0, 6px);
  //         }
  //       }
  //       img {
  //         box-shadow: 0 6px 3px -3px rgba(#000, .3);
  //         @include helpers.box-shadow(false, 3px, 3px, 3px, rgba(#000, .3), rgba(helpers.$light, .05));
  //         filter: sepia(1);
  //         transition: 0.3s;
  //         object-fit: cover;
  //         &:hover {
  //           filter: sepia(0);
  //         }
  //       }
  //     }
  //   }
    
  //   &:hover .card-image figure figcaption {
  //     opacity: 1;
  //     transition: .3s;
  //   }
  // }
  
  // article.card.is-small-authors {
  //   position: relative;
  //   width: 100%;
  //   min-width: 100%;
  //   margin-left: 0;
  //   margin-bottom: 2em;
  //   &:last-of-type {
  //     margin-bottom: 0;
  //   }
  //   img {
  //     @include helpers.box-shadow(false, 3px, 3px, 3px, rgba(#000, .3), rgba(helpers.$light, .05));
  //     filter: sepia(1);
  //     transition: 0.3s;
  //     &:hover {
  //       filter: sepia(0);
  //     }
  //   }
  //   svg:hover {
  //     fill: helpers.$gold-light;
  //   }
  //   &:hover img {
  //     filter: sepia(0);
  //   }
  // }
  
  
  // @media (min-width: 1217px) and (max-width: 1509px) {
  //   .column.is-half-custom-cards {
  //     width: 50%;
  //   }
  // }
  
  // @media (max-width: 566px) {
  //   .column {
  //     padding: 1rem;
  //   }
  //   article.card.is-horizontal.no-image,
  //   .card.is-small.has-image, 
  //   .card.is-small-count.has-image,
  //   .card.is-small.no-image, 
  //   .card.is-small-count.no-image {
  //     width: 100%;
  //     min-width: 100%;
  //     margin-left: 0;
  //   }
  
  //   article.card.is-horizontal.has-image:not(.quote) {
  //     position: relative;
  //     display: unset;
  //     grid-template-columns: unset;
  //     grid-template-rows: unset;
  //     grid-template-areas: unset;
  
  //     .card-image {
  //       height: auto;
  
  //       figure.image {
  //         height: 250px;
  //         margin-left: unset;
  //         margin-top: unset;
  //         padding-top: 0;
  //       }
  //     }
  
  //     .ribbon {
  //       left: -1px;
  //     }
  //   }
  
  //   article.card.is-horizontal.has-image.quote {
  //     figure.image {
  //       height: calc(100% - 3px);
  //       margin-left: 0;
  //       margin-top: 0;
  //     }
  
  //     .ribbon {
  //       left: -1px;
  //     }
  
  //     .card-content {
  //       position: unset;
  
  //     }
  
  //     .card-content-inline {
  //       left: 0;
  //       height: calc(100% - 3px);
  //     }
  //   }
  
  //   article.card.is-horizontal .card-footer .card-footer-item, 
  //   .card .card-footer .card-footer-item {
  //     padding: .75em;
  //   }
  // }
  
  // .column.is-pinned article.card {
  //   border: 1px solid rgba(helpers.$gold, .6);
  
  //   footer.card-footer svg.remix-small.is-pinned {
  //     fill: helpers.$gold-light;
  //   }
  // }
