@use "vars/helpers";
@use "sass:color";

nav.pagination {
    ul.pagination-list {
        margin: 0;
        padding: 0;
        li {
            margin: 0;
        }
    }
    a.button {
        @include helpers.round-button(false, 48px, helpers.$gold, color.adjust(helpers.$dark, $lightness: 5%));

        &.is-current {
            // @include helpers.round-button(true, 48px, helpers.$gold-light, helpers.$gold-dark);
            border: 1px solid rgba(helpers.$gold-dark, .5);
            color: helpers.$gold-light;
            @include helpers.box-shadow(true, 3px, 3px, 5px, rgba(#000, .3), rgba(helpers.$light, .05));
            svg {
                fill: helpers.$gold-light;
            }
            &:hover {
                border: 1px solid rgba(helpers.$gold-dark, .5);
                @include helpers.box-shadow(true, 3px, 3px, 5px, rgba(#000, .3), rgba(helpers.$light, .05));
                @include helpers.translate(0, 0);
                cursor: not-allowed;
                svg {
                    fill: helpers.$gold-light;
                }
            }
        }
    }
}