@use "vars/helpers";
@use "sass:color";

// THANKS: https://codepen.io/wikiki/pen/XagrqJ
.has-ribbon {
    position: relative;
}

.ribbon {
    max-width: 13.5em;
    position: absolute;
    z-index: 2;
    transition: color .3s ease-out;
    @include helpers.font-header;
    text-shadow: 3px 3px 4px rgba(#000, .5);
    background-color: helpers.$gold-dark;
    
    &:hover {
      @include helpers.translate(0, -2px);
    }
    a:hover {
      color: color.adjust(helpers.$light, $lightness: 5%);
      background-color: helpers.$gold !important;
      @include helpers.box-shadow(false, 3px, 3px, 5px, rgba(#000, .3), rgba(helpers.$light, .15));
    }

    a {
      display: block;
      padding: .4em 1.1em .4em 1em;
      color: helpers.$light;
      @include helpers.box-shadow(true, 3px, 3px, 5px, rgba(#000, .3), rgba(helpers.$light, .3));      
    }
}

  
//   .is-single-page {
//     color: helpers.$gold;
//     border: none;
//     text-transform: uppercase;
//     font-weight: 600;
//     top: .3em;
//     left: -1.5em;
//     @include helpers.font-bold;
//     font-size: .8em;
//     z-index: unset;
//     &:after {
//       content: "";
//       width: 0px;
//       height: 0px;
//       position: absolute;
//       margin-left: 9px;
//       margin-top: -4px;
//       -webkit-transform: rotate(360deg);
//       transform: rotate(360deg);
//       border-style: solid;
//       border-width: 16px 0 16px 16px;
//       border-color: transparent transparent transparent helpers.$gold;
//     }
//   }