@use "vars/helpers";
@use "sass:color";

.has-ribbon {
    position: relative;
}

// Cards / home context — max-width capped at 13.5em.
a.ribbon {
    max-width: 13.5em;
    position: absolute;
    @include helpers.font-header;
    & {
      text-shadow: 3px 3px 4px rgba(#000, .5);
      background-color: helpers.$gold-dark;
      padding: .4em .75em;
      color: helpers.$light;
      z-index: 5;
      border: none;
      transition: color, background-color .3s ease-out;
    }

    &:hover {
      color: color.adjust(helpers.$light, $lightness: 5%);
      background-color: helpers.$dark !important;
    }
}

a.ribbon.is-left {
  max-width: 13.5em;
  position: absolute;
  @include helpers.font-header;
  & {
    text-shadow: 3px 3px 4px rgba(#000, .5);
    background-color: helpers.$gold-dark;
    padding: .4em .75em;
    color: helpers.$light;
    z-index: 5;
    border: none;
    transition: color .3s ease-out;
  }

  &:hover {
    color: color.adjust(helpers.$light, $lightness: 5%);
    background-color: helpers.$gold-dark !important;
  }
}
