@use "vars/helpers";
@use "sass:color";
@use "mixins/effects";
@use "mixins/animations";

.has-ribbon {
    position: relative;
}

.ribbon {
    max-width: 13.5em;
    position: absolute;
    z-index: 5;
    transition: color .3s ease-out;
    @include helpers.font-header;
    text-shadow: 3px 3px 4px rgba(#000, .5);
    background-color: helpers.$gold-dark;
    
    &:hover {
      @include animations.translate(0, -2px);
    }
    a:hover {
      color: color.adjust(helpers.$light, $lightness: 5%);
      background-color: helpers.$gold !important;
      @include effects.box-shadow(true, 3px, 3px, 5px, rgba(#000, .3), rgba(helpers.$light, .3));   
    }

    a {
      display: block;
      padding: .4em 1.1em .4em 1em;
      color: helpers.$light;   
      @include effects.box-shadow(false, 3px, 3px, 5px, rgba(#000, .3), rgba(helpers.$light, .15));
    }
}
