{{- if and .Site.Params.staticman (not (or .Site.Params.disable_comments .Params.disable_comments)) -}}
  <div class="columns">

    <div class="column is-three-quarter">
      <section id="comments">

        <h2 class="title is-4">Reaktionen <a class="anchor" href="#comments"><div class="anchor-icon"></div></a></h2>
    
        {{- $postSlug := $.File.ContentBaseName -}}
        {{- $comments := index $.Site.Data.comments $postSlug -}}
        {{- $.Scratch.Set "hasComments" 0 -}}
         
        {{- range $comments -}}
          {{- if not .reply_to -}}
            {{- $.Scratch.Add "hasComments" 1 -}}
   
            {{- $.Scratch.Set "commentName" .name -}}
            <article id="commentid-{{ ._id }}" class='media post-comment {{ range ($.GetTerms "authors") }} {{ if eq ($.Scratch.Get "commentName") .Page.Title }} is-author {{ end }} {{ end }}'>
              <figure class="media-left">
                {{ if .website }}<a href="{{ .website }}" title="Webseite von {{.name}}" target="_blank">{{ end }}
                  <p class="image is-120x120"><img class="is-rounded" src="https://secure.gravatar.com/avatar/{{ .email }}?s=120&r=pg&d={{ $.Site.Params.staticman.gravatarDefault }}"></p>
                {{ if .website }}</a>{{ end }}
                <figcaption>{{ $.Scratch.Get "hasComments" }}</figcaption>
              </figure>
              
              <div class="media-content">
                <div class="content">
                  <h4><strong>{{ .name }}</strong></h4>
                  <p>{{ .comment | markdownify }}</p>
                </div>

                <div class="media-footer">
                  <div class="comment-time">
                    <svg class='remix-small'>
                      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#calendar-line"></use>
                    </svg><time datetime='{{ (time .date).Add (2 | duration "hour" ) | dateFormat "2006-01-02T15:04:05Z07:00" }}' class="post-time">{{ (time .date).Add (2 | duration "hour" ) | dateFormat "02.01.06 um 15:04" }}</time>
                  </div>

                  <a href="#commentid-{{ ._id }}" class="comment-anchor" title="Permalink to this comment">
                    <svg class='remix-small'>
                      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#links-fill"></use>
                    </svg>Permalink zur Kritik
                  </a>

                  {{- if .website -}}
                    <a href="{{ .website }}" class="website" target="_blank">
                      <svg class='remix-small'>
                        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#external-link-line"></use>
                      </svg>Webseite
                    </a>
                  {{- end -}}

                  <button data-tooltip="Antworte @{{.name}}" id="{{ ._id }}" class="button is-primary" href="#postcomment" onclick="changeValue('fields[reply_to]', '{{ ._id }}')">
                    <svg class='remix'>
                      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#reply-line"></use>
                    </svg>Antworten
                  </button>
  
                </div>
              </div>
            </article>
            {{ partial "comments/comment-replies" (dict "entryId_parent" $postSlug "SiteDataComments_parent" $.Site.Data.comments "parentId" ._id "parentName" .name "parentCount" ($.Scratch.Get "hasComments") "context" . ) }}
          {{- end -}}
        {{- end -}}
    
        {{- if eq ($.Scratch.Get "hasComments") 0 -}}
          <article class="media no-comment">
            <figure class="media-left">
              <p class="image is-120x120"><img class="is-rounded" src="https://secure.gravatar.com/avatar/0000000?s=120&r=pg&d={{ $.Site.Params.staticman.gravatarDefault }}"></p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p><strong>Keine Reaktionen vorhanden</strong>
                <br>Pinne was zum Thema an und verfasse eine Reaktion.</p>
              </div>
            </div>
          </article>
        {{- end -}}
    
      </section>
    </div>
    
    <div class="column is-one-quarter"></div>
  </div>
  <div class="columns">

    <div class="column is-three-quarter">

      <section id="comments-form" class="box">

        <div id="comments-messages">
          <article class="message is-primary" id="comment-submitted" style="display: none;">
            <div class="message-header">
              <h2 class="title is-5">Thank you!</h2>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
              <p>Your comment has been submitted and will be published once it has been approved. &#128522;</p>
              <p><a href="https://github.com/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/pulls" target="_blank">Click here</a> 
              to see the pull request you generated.</p>
            </div>
          </article>
    
          <article class="message is-danger" id="comment-error" style="display: none;">
            <div class="message-header">
              <h2 class="title is-5">Oops!</h2>
              <button class="delete" aria-label="delete"></button>
            </div>
            <div class="message-body">
              <p>Your comment has not been submitted. Please try again. Thank You!</p>
              <p>If this error persists, please open an issue by <a href="https://github.com/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/issues"> clicking here</a>.</p>
            </div>
          </article>
        </div>

        {{ partial "comments/comment-form" . }}
      </section>
     
    </div>
    <div class="column is-one-quarter"></div>
  </div>

  
{{- end -}}

{{- $.Scratch.Delete "hasComments" -}}
{{- $.Scratch.Delete "commentName" -}}