<form id="comment-form" class="post-new-comment" method="post" action="{{ .Site.Params.staticman.endpoint }}/{{ .Site.Params.staticman.username }}/{{ .Site.Params.staticman.repository }}/{{ .Site.Params.staticman.branch }}/comments">
  {{ if eq ($.Scratch.Get "hasComments") 0 }}
      <p>Be the first to leave a comment! 🎉</p>
  {{ end }}
  <h3 class="prompt">Say something</h3>
  <input type="hidden" name="options[redirect]" value="{{ .Permalink }}#comment-submitted">
  {{/*  <input type="hidden" name="options[redirectError]" value="{{ .Permalink }}#post-error">  */}}
  {{/*  <input type="hidden" name="options[slug]" value="{{ .File.BaseFileName }}">  */}}

  <input type="hidden" name="options[entryId]" value="{{ $.Scratch.Get "post_parent" }}">
  <input type="hidden" name="options[slug]" value="{{ .Permalink }}">
  <input type="hidden" name="options[origin]" value="{{ .File.BaseFileName }}">
  <input type="hidden" name="options[parent]" value="{{ $.Scratch.Get "post_parent" }}">
  <input type="hidden" name="fields[reply_to]" value="">

  <input type="text" name="fields[name]" class="post-comment-field" placeholder="Name *" required/>
  <input type="email" name="fields[email]" class="post-comment-field" placeholder="Email address (will not be public) *" required/>
  <input type="hidden" id="comment-parent" name="fields[reply_to]" value="">

  <textarea name="fields[comment]" class="post-comment-field" placeholder="Comment (markdown is accepted) *" required rows="10"></textarea>
  <input type="submit" class="post-comment-field btn btn-primary comment-buttons" value="Submit">
</form>




