{{/* 
  Bulma Message Shortcode
  
  Parameters:
  - color: The color of the message (dark, link, info, primary, success, warning, danger)
  - header: Optional header text
  
  Example usage:
  {{< message color="info" header="Info" >}}
    This is an info message content
  {{< /message >}}
  
  {{< message color="danger" >}}
    This is a danger message without header
  {{< /message >}}
*/}}

{{ $color := .Get "color" | default "dark" }}
{{ $header := .Get "header" }}

<article class="message is-{{ $color }}">
  {{ if $header }}
  <div class="message-header">
    <p>{{ $header }}</p>
  </div>
  {{ end }}
  <div class="message-body">
    {{ .Inner | markdownify }}
  </div>
</article>
