<div class="cell">
    {{ $cssClasses := "card is-horizontal" }}
    {{ if .Resources }}{{ $cssClasses = add $cssClasses " has-image" }}{{ end }}
    {{ if .GetTerms "categories" }}{{ $cssClasses = add $cssClasses " has-ribbon" }}{{ end }}
    {{ if eq .Params.weight 1 }}{{ $cssClasses = add $cssClasses " is-fixed" }}{{ end }}
    {{ if eq .Params.format "log" }}{{ $cssClasses = add $cssClasses " is-log" }}{{ end }}
    <article class="{{ $cssClasses }}">
        <!-- TODO: Footer generell weiter machen, Quote erhält ebenfalls ein Icon -->

        {{- if .GetTerms "categories" -}}
            {{- range first 1 (.GetTerms "categories") -}}
                {{- $catName := .LinkTitle -}}
                <div class="ribbon">
                    <a href="{{ .RelPermalink }}" style="{{- range .Site.Params.categoryColor -}}{{- if eq .name $catName -}}background-color: {{ .color }};{{- end -}}{{- end -}}">{{- .LinkTitle -}}</a>
                </div>
            {{- end -}}
        {{- end -}}

        {{- if .Resources -}}
            <div class="card-image">
                <figure class="image is-2by3">
                    {{- $img := (.Resources.ByType "image").GetMatch "cover*" -}}
                    {{- with $img -}}
                        {{- if not (eq $.Params.format "log") }}<a href="{{ .Permalink }}">{{- end -}}
                            {{ if eq $.Params.format "log" }}
                                <!-- Resize to a width of 600px and a height of 480px -->
                                {{ $image := $img.Process "fill 600x480 webp" }}
                                <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}" width="600" height="480" loading="lazy">
                            {{ else }}
                                {{ $image := $img.Process "fill 320x480 webp" }}
                                <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}" width="320" height="480" loading="lazy">
                            {{ end }}
                        {{- if not (eq $.Params.format "log") }}</a>{{- end -}}

                        {{ with .Exif }}{{ with .Tags.ImageDescription  }}
                            <figcaption>
                                <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#information-line"></use></svg>
                                {{ . | safeHTML }}
                            </figcaption>
                        {{ end }}{{ end }}
                    {{- end -}}
                </figure>
            </div>
        {{- end -}}

        <div class="card-content">
            <h3 class="title is-5"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
            
            <p class="subtitle">
                <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
                    <svg class='remix-small'>
                        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#calendar-line"></use>
                    </svg> {{ .Date.Format "02.01.06" }}
                </time>
                {{ if not ( eq (.Date.Format "02.01.06") (.Lastmod.Format "02.01.06") ) }}
                    <time class="updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
                        <svg class='remix-small'>
                            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#pencil-line"></use>
                        </svg> {{ .Lastmod.Format "02.01.06" }}
                    </time>
                {{ end }}
            </p>
                
            <div class="content">

                {{ $summarySplits := split .Content "<!--more-->" }}
                {{ $newContent := "" }}
            
                {{ if ge (len $summarySplits) 2 }}
                    <!-- If content has comment "more", then split from there -->
                    {{ $newContent = index $summarySplits 1 | plainify }}
                {{ else }}
                    <!-- If content has .Params.Summary, it will be used before the auto created Summary -->
                    {{ $newContent = .Summary | plainify }}
                {{ end }}
            
                <!-- If article has no image, show more content instead -->
                {{- if not .Resources -}}
                    {{ $newContent | truncate 800 " ... " }}
                {{ else }}
                    {{ $newContent | truncate 330 " ... " }}
                {{- end -}}
                {{- if not (eq .Params.format "log") }}<a class="read-more" href="{{ .RelPermalink }}">mehr</a>{{- end -}}
            </div>
            
            {{ if ne .Params.format "log" }}
                {{- if (.GetTerms "tags") -}}
                    <div class="tags-wrapper">
                        <svg class='remix-small'>
                            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#price-tag-3-line"></use>
                        </svg>
                        {{- range (.GetTerms "tags") -}}
                            <a href="{{ .RelPermalink }}">#{{ .LinkTitle }} </a> 
                        {{- end -}}
                    </div>
                {{- end -}}
            {{- end -}}
        </div>

        <footer class="card-footer">
            {{ $list := .GetTerms "authors" }}
            {{ $len := len $list }}
            <div class="author-img {{- if gt $len 1 }} more-authors{{ end -}}">
                {{- if gt $len 1 -}}
                    <div class="author-opener">{{ $len }}</div>
                    <div class="more-authors-img">
                        {{- range first 3 (.GetTerms "authors") -}}
                            <figure class="image is-48x48">
                                <a href="{{ .Permalink }}">
                                    {{- range first 1 (.Resources.ByType "image") -}}
                                        {{- $img := .Fill "48x48" -}}
                                        <img class="is-rounded" src="{{ $img.RelPermalink }}" alt="{{ $.Title }}" width="48" height="48" loading="lazy">
                                    {{- end -}}
                                </a>
                            </figure>
                        {{- end -}}
                    </div>
                {{- else -}}
                    {{- range first 1 (.GetTerms "authors") -}}
                        <figure class="image is-48x48">
                            <a href="{{ .Permalink }}">
                                {{- range first 1 (.Resources.ByType "image") -}}
                                    {{- $img := .Fill "48x48" -}}
                                    <img class="is-rounded" src="{{ $img.RelPermalink }}" alt="{{ $.Title }}" width="48" height="48" loading="lazy">
                                {{- end -}}
                            </a>
                        </figure>
                    {{- end -}}
                {{- end -}}
            </div>
            
            <a href="{{ .RelPermalink }}" class="card-footer-item">Read More</a>
            <a href="{{ .RelPermalink }}" class="card-footer-item">Read More</a>
        </footer>
    </article>
</div>