
<div class="navbar-brand">

    <a class="is-mobile navbar-item {{ if .Page.IsHome }}is-active{{ end }} navbar-logo " href="/" title="{{ .Name }} page">
        <img src="/images/header/clock.png" alt="Logo"><span>{{ .Site.Title }}</span>
    </a>
    
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
        <span aria-hidden="true"></span>
    </a>
</div>
  
<div class="navbar-menu" id="navbarHeader">
    
    <div class="navbar-start">
        {{- $currentPage := . -}}
        {{- range .Site.Menus.main -}}

            {{- if .HasChildren -}}

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}">
                        {{- .Name -}}
                    </a>
                    <div class="navbar-dropdown">
                        {{- range .Children -}}
                            <a class="navbar-item " href="{{ .Page.Permalink }}">{{ .Name }}</a>
                        {{- end -}}
                    </div>
                </div>

            {{- else -}}

                <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
                    {{- .Name -}}
                </a>
            {{- end -}}
            
        {{- end -}}

    </div>
</div>
  