<ul class="menu-list">

    {{- $currentPage := . -}}
    {{- range .Site.Menus.main -}}

        {{- if .HasChildren -}}

            <li class="toggle-parent">
                <a class="{{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}is-active{{ end }}">
                    {{- .Name -}}
                </a>
                <ul class="toggle-parent-sublist">
                    <li>
                        <a class="navbar-item {{ if ($currentPage.IsMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .Page.Permalink }}">
                            Alle&nbsp;{{- .Name -}}
                        </a>
                    </li>
                    {{- range .Children -}}
                        <li>
                            <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .Page.Permalink }}">{{ .Name }}</a>
                        </li>
                    {{- end -}}
                </ul>
            </li>

        {{- else -}}
            <li>
                <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
                    {{- .Name -}}
                </a>
            </li>
        {{- end -}}
                
    {{- end -}}

</ul>