// Update Bulma's global variables
$family-sans-serif: "Montserrat-Regular", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
$family-secondary: "Montserrat Alternates", BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;

// THANKS: Google Fonts Montserrat und Montserrat Alternates
@font-face {
    font-family: 'Montserrat Alternates';
    src: url('fonts/Montserrat/MontserratAlternates-Regular.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat Alternates Bold';
    src: url('fonts/Montserrat/MontserratAlternates-Medium.ttf') format('truetype');
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat-Light';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat-Regular';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}
@font-face {
    font-family: 'Montserrat-Bold';
    src: url('fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
    font-display: swap;
}
  
@mixin font-family($family, $weight: '') {
   @if $family {
     & {font-family: $family, BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
   } @else {
     & {font-family: BlinkMacSystemFont, -apple-system, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;}
   }
   @if $weight { & {font-weight: $weight;} }
}
  
@mixin font-header {
    @include font-family('Montserrat Alternates', 600);
    // letter-spacing: .03em;
}

@mixin font-header-bold {
    @include font-family('Montserrat Alternates Bold', 600);
    & {
      letter-spacing: .03em;
    }
}

@mixin font-light {
    @include font-family('Montserrat-Light', 400);
}
@mixin font-regular {
    @include font-family('Montserrat-Regular', 400);
}
@mixin font-bold {
    @include font-family('Montserrat-Bold', 700);
    letter-spacing: .03em;
}
  