{{ define "main" }}
    {{ if eq .Page.Type "page" }}

        <div class="columns is-multiline">
            <div class="column is-12">
                <article class="box {{ if .Resources -}} has-image{{- end }} is-single-page">
                    {{- if .Resources -}}
                        <figure class="image is-4by3">
                            {{- $img := (.Resources.ByType "image").GetMatch "cover*" -}}
                            {{- with $img -}}

                                {{ $image := $img.Process "fill 480x320 webp" }}
                                <img src="{{ $image.RelPermalink }}" alt="{{ $.Title }}" width="480" height="320" loading="lazy">

                                {{ with .Exif }}{{ with .Tags.ImageDescription  }}
                                    <figcaption>
                                        <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ $.Site.Params.remixicon_version}}#pencil-line"></use></svg>
                                        {{ . | safeHTML }}
                                    </figcaption>
                                {{ end }}{{ end }}
                            {{- end -}}
                        </figure>
                    {{- end -}}
        
                    <div class="box-content">
                        <h1 class="title is-1" data-heading="{{ .Title }}">{{ .Title }}</h1>
                        {{ with .Params.subtitle }}<p class="subtitle">{{ . }}</p>{{ end }}
                        {{ .Content }}
                    </div>
                </article>
            </div>
        </div>

    {{ else if eq .Page.Type "articles" }}
        <div class="columns is-multiline">
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-9-widescreen is-9-fullhd">
                <article class="box {{ if .Resources }}has-image{{ end }}">
            
                    {{- if .Resources -}}
                        <figure class="image is-2by3">
                            {{- $img := (.Resources.ByType "image").GetMatch "cover*" -}}
                            {{- with $img -}}
                                {{ $portraitImage := $img.Process "fill 320x480 webp" }}
                                {{ $landscapeImage := $img.Process "fill 480x320 webp" }}
                                <picture>
                                    <source media="(max-width: 640px)" srcset="{{ $landscapeImage.RelPermalink }}">
                                    <source media="(min-width: 641px)" srcset="{{ $portraitImage.RelPermalink }}">
                                    <img src="{{ $portraitImage.RelPermalink }}" alt="{{ $.Title }}" loading="lazy">
                                </picture>
                                {{ with .Exif }}{{ with .Tags.ImageDescription  }}
                                    <figcaption>
                                        <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ $.Site.Params.remixicon_version}}#pencil-line"></use></svg>
                                        {{ . | safeHTML }}
                                    </figcaption>
                                {{ end }}{{ end }}
                            {{- end -}}
                        </figure>
                    {{- end -}}
            
                    <div class="box-content">
                        <h1 class="title is-1" data-heading="{{ .Title }}">{{ .Title }}</h1>
                        {{ with .Params.subtitle }}<p class="subtitle is-4">{{ . }}</p>{{ end }}
                        {{ .Content }}
                    </div>

                    {{ if .Params.series }}
                        <div class="box-footer">
                            {{ partial "widgets/series" . }}
                        </div>
                    {{ end }}
                </article>
            </div>
            <div class="column is-12-mobile is-12-tablet is-12-desktop is-3-widescreen is-3-fullhd pt-0">
                <div class="columns is-multiline">
                    <div class="column is-12-mobile is-6-tablet is-4-desktop is-12-widescreen is-12-fullhd">
                        <div class="info widget mt-6">
                            <p class="title is-5">Artikel</p>

                            <div class="widget-content">
                                {{- if .GetTerms "categories" -}}
                                    {{- range first 1 (.GetTerms "categories") -}}
                                        <a href="{{ .RelPermalink }}" title="{{- .LinkTitle -}}" class="ribbon" style="{{if .Params.categoryColor }}background-color:{{.Params.categoryColor }}{{end}}">{{- .LinkTitle -}}</a>
                                    {{- end -}}
                                {{- end -}}

                                <div class="time">
                                    <time class="publish" datetime="{{ .Date.Format "2006-01-02T15:04:05Z07:00" }}" data-tooltip="Veröffentlichungsdatum" title="Veröffentlichungsdatum">
                                        <svg class='ri-1x'>
                                            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#calendar-line"></use>
                                        </svg> {{ .Date | time.Format ":date_long" }}
                                    </time>

                                    {{ if not ( eq (.Date.Format "02.01.06") (.Lastmod.Format "02.01.06") ) }}
                                        <time class="updated" datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}" data-tooltip="Letztes Bearbeitungsdatum" title="Letztes Bearbeitungsdatum">
                                            <svg class='ri-1x'>
                                                <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#pencil-line"></use>
                                            </svg> {{ .Lastmod | time.Format ":date_long" }}
                                        </time>
                                    {{ end }}
                                </div>
                    
                                {{- if .Params.tags -}}
                                    <div class="tags-line">
                                        <svg class='ri-1x'>
                                            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#price-tag-3-line"></use>
                                        </svg>
                                        {{- range (.GetTerms "tags") -}}
                                            <a href="{{ .RelPermalink }}" title="{{ .LinkTitle }}" class="hashtags">#{{ .LinkTitle }} </a> 
                                        {{- end -}}
                                    </div>
                                {{- end -}}

                                {{ $readingTime := div (float .WordCount) .Site.Params.reading_speed }}
                                {{ $readingTime = math.Ceil $readingTime }}
                                <span data-tooltip="{{ $readingTime }} Minuten Lesezeit">
                                    <svg class='ri-1x'>
                                        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#timer-line"></use>
                                    </svg>{{ $readingTime }} Min.
                                </span>
                                

                                {{- if .Params.series -}}
                                    <span data-tooltip="Teil einer Serie">
                                        {{ $name := index .Params.series 0 }}
                                        <svg class='ri-1x'>
                                            <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#stack-line"></use>
                                        </svg><a href="/series/{{$name | urlize}}" title="{{ $name }}">{{ $name }}</a>
                                    </span>
                                {{- end -}}
                            </div>
                        </div>
                    </div>
                
                    {{- if ge (len .TableOfContents) 100 -}}
                        <div class="column is-12-mobile is-6-tablet is-4-desktop is-12-widescreen is-12-fullhd">
                            <div class="toc widget mt-6">
                                <p class="title is-5">Übersicht</p>

                                <div class="widget-content">
                                    {{ .TableOfContents }}
                                </div>
                            </div>
                        </div>
                    {{- end -}}
                    
                    {{- if .Params.series -}}
                        <div class="column is-12-mobile is-6-tablet is-4-desktop is-12-widescreen is-12-fullhd">
                            <div class="serie widget mt-6">
                                <p class="title is-5">Serie</p>
                                {{- $currentPage := . -}}
                                {{- $series_name := index .Params.series 0 -}}

                                {{- $.Store.Set "series_count" 0 -}}
                                {{- range .Site.RegularPages.ByDate -}}
                                    {{- if in .Params.series $series_name -}}
                                        {{- $.Store.Add "series_count" 1 -}}
                                    {{- end -}}
                                {{- end -}}

                                <p class="title is-6"><a href="/series/{{$series_name | urlize}}" title="{{ $series_name }}">{{ $series_name }} ({{ $.Store.Get "series_count" }})</a></p>
                                <ol class="series-list">
                                    {{- range .Site.RegularPages.ByDate -}}
                                        {{- if in .Params.series $series_name -}}
                                            {{- if not (eq $currentPage.RelPermalink .RelPermalink) -}}
                                                <li><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></li>
                                            {{- else -}}
                                                <li class="is-active">{{ .Title }} </li>
                                            {{- end -}}
                                        {{- end -}}
                                    {{- end -}}
                                </ol>
                            </div>
                        </div>
                        {{ $.Store.Delete "series_count" }}
                    {{- end -}}

                    
                    <div class="column is-12-mobile is-6-tablet is-4-desktop is-12-widescreen is-12-fullhd">
                        <div class="related widget mt-6">
                            <p class="title is-5">Ähnliche Artikel</p>
                            <div class="widget-content">
                                <ul>
                                    {{ $related := .Site.RegularPages.Related . }}
                                    {{ range first 5 (where $related "Type" "articles") }}
                                        <li>
                                            <span class="name"><a href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .Title }}</a></span>
                                            <span class="number">{{ .Date | time.Format ":date_short" }}</span>
                                        </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <aside class="widget mt-6 mb-6">
                    {{- if .Params.authors -}}
                        {{ $list := .GetTerms "authors" }}
                        {{ $len := len $list }}
                        <p class="title is-5">{{ if eq $len 1 }}Autor{{ else }}Autoren{{ end }}</p>
                        {{ range (.GetTerms "authors") }}
                            <aside class="is-small author-single-page {{ if .Resources }}has-image{{else}}no-image{{ end }} mt-5">
                                {{ partial "card" . }}
                            </aside>
                        {{ end }}
                    {{ else }}
                        {{ with $.Site.GetPage (printf "/authors/%s" $.Site.Params.default_author) }}
                            <p class="title is-5">Autor</p>
                            <aside class="is-small author-single-page {{ if .Resources }}has-image{{else}}no-image{{ end }} mt-5">
                                {{ partial "card" . }}
                            </aside>
                        {{ end }}
                    {{- end -}}
                </aside>
            </div>
        </div>
    {{ end }}
{{ end }}