{{ if and (eq .Params.weight 1) (not (eq "quotes" .Page.Type)) }}
  
  <div class="column card-horiz-img is-pinned is-full-fullhd is-full-desktop is-full-tablet is-full-mobile is-flex">
    {{ partial "formats/article-summary.html" . }}
  </div>
  
{{ else }}

  <div class="column card-horiz-img is-one-third-fullhd is-half-desktop is-full-tablet is-full-mobile is-flex">

    {{ if eq "quotes" .Page.Type }}
      {{ partial "formats/quote-summary.html" . }}
    {{ else }}
      {{ partial "formats/article-summary.html" . }}
    {{ end }}
  </div>

{{ end }}