{{- $stars := .Params.rating -}}

<span class="stars">
  {{ with (eq $stars "0") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "0.5") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "1") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "1.5") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "2") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "2.5") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "3") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "3.5") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "4") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-line"></use></svg>
  {{ end }}
  {{ with (eq $stars "4.5") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg>
  {{ end }}
  {{ with (eq $stars "5") }}
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
    <svg class='remix-small'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
  {{ end }}
</span>