<nav class="navbar" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarHeader">
      
    <div class="navbar-start">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      {{ end }}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{ partialCached "social-follow.html" . }}
      </div>
      
      <div class="navbar-item field">
        <p class="control has-icons-right">
          <input class="input" type="search" placeholder="Search...">
          <span class="icon is-small is-right">
            <svg class='remix'>
              <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#search-2-line"></use>
            </svg>
          </span>
        </p>
      </div>
    </div>
    
  </div>

</nav>
  