<footer class="footer">
  <div class="content has-text-centered">
    <a href="{{ .Site.BaseURL }}" >
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}
    </a>
    <div>{{ partial "social-follow.html" . }}</div>

    {{ if .Site.Menus.footer }}
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.footer }}
          <li>
            {{ with .Page }}
              <a href="{{ .URL }}" title="{{ .Name }} page" class="{{ if eq $currentPage.RelPermalink .URL }}is-active{{ end }}">
                {{ .Name }}
              </a>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
 
</footer>