<button class="back-to-top" title="Zurück zum Seitenanfang">
  <svg class='remix'>
    <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#arrow-up-s-fill"></use>
  </svg>
</button>

<footer class="footer">

  <svg>
    <filter id="turbulence" x="0" y="0" width="100%" height="100%">
      <feTurbulence id="sea-filter" numOctaves="2" seed="2" baseFrequency="0.02 0.05"></feTurbulence>
      <feDisplacementMap scale="20" in="SourceGraphic"></feDisplacementMap>
      <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="200s" keyTimes="0;0.8;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
    </filter>
  </svg>

  <div class="content has-text-centered">
    <a href="{{ .Site.BaseURL }}" >
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}
    </a>
    <div>{{ partialCached "social-follow-footer.html" . }}</div>

    {{- if .Site.Menus.footer -}}
      <ul>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.footer -}}
          <li>
            {{- if not (eq $currentPage.RelPermalink .URL) -}}
              <a href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a>
            {{- else -}}
              <span class="is-active">{{ .Name }}</span>
            {{- end -}}
          </li>
        {{- end -}}
      </ul>
    {{- end -}}

    <p>
      There are currently {{ len (where .Site.RegularPages "Type" "in" (slice "articles" "quotes") ) }} <a href="/">articles</a> on this site.
    </p>
    <p>
      Statistik: <br />
      {{ $count := len (where .Site.RegularPages "Section" "=" "quotes") }}
      {{ i18n "quotes" $count }} <br />

      {{ $countA := len (where .Site.RegularPages "Section" "=" "articles") }}
      {{ $countA }} Artikel <br />

      Davon: <br />
      {{ $countM := len (where (where .Site.RegularPages "Section" "=" "articles") ".Params.format" "==" "rating") }}
      {{ i18n "movies" $countM }}
    </p>

    <p>
      <!-- TODO: MUSS im Footer bleiben, nur noch schön machen -->
      Header SVG by:<br />
      <a href="https://www.shutterstock.com/g/pixelliebe">pixelliebe</a>/<a href="https://www.shutterstock.com/image-vector/hamburg-skyline-471775031">shutterstock.com</a><br />
      <a href="https://www.shutterstock.com/g/pixelliebe">pixelliebe</a>/<a href="https://www.shutterstock.com/image-vector/kiel-skyline-german-city-581455954">shutterstock.com</a>
    </p>
  </div>
 
</footer>