{{ $img := (.Resources.ByType "image").GetMatch "featured*" }}
{{ with $img }}
   {{ $resize := .Fill "1700x320" | images.Filter (images.Sepia "100") }}
   <header class="header" style="background-image: url('{{ $resize.RelPermalink }}');">
{{ end }}
 
    <div class="brand-logo">
      <a class="brand" href="{{ .Site.BaseURL }}">
        <div class="textlogo" data-heading="{{ .Site.Title | safeHTML }}"><span class="shimmer">{{ .Site.Title | safeHTML }}</span></div>
      </a>
    </div>

    {{ partial "site-navigation.html" .}}

    {{ range .Params.featured_image }}
      <div class="byline page-header">
        <svg class='remix'>
          <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#information-line"></use>
        </svg> {{ .byline | safeHTML }}
      </div>
    {{ end }}
  </header>

  <!-- // TODO: Wenn Artikel Single Page, nicht anzeigen! Das befindet sich bereits in der single.html -->
  {{ if and (not .IsHome) (not (eq .Section "articles")) }}
    <div class="wrapper">
      <h1 class="title">{{ .Title | default .Site.Title }}</h1>
      {{ with .Params.description }}
        <h2 class="subtitle">{{ . | truncate 160 }}</h2>
      {{ end }}
    </div>
  {{ end }}