<nav class="navbar" aria-label="main navigation">
  <div class="navbar-brand">

    <!-- // TODO: Desktop hidden, aber Mobile sichtbar class: "is-hidden-desktop" -->
    <a class="is-mobile navbar-item {{ if .Page.IsHome }}is-active{{ end }} navbar-logo " href="/" title="{{ .Name }} page">
      <img src="/images/logo_back.png"><span>{{ .Site.Title }}</span>
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarHeader">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div class="navbar-menu" id="navbarHeader">
      
    <div class="navbar-start">
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
          {{ .Name }}
        </a>
      {{ end }}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {{ partialCached "social-follow.html" . }}
      </div>
      
      <div class="navbar-item field">
        <p class="control has-icons-right">
          <input class="input" type="search" name="searchBox" id="searchBox" placeholder="Search...">
          <span id="iconLens" class="icon is-small is-right">
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#search-2-line"></use></svg>
          </span>
          <div id="spinnerLoading" class="control spinner is-loading"></div>
          <span id="iconClose" class="icon is-small is-right">
            <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#close-fill"></use></svg>
          </span>
        </p>
        <div id="resultsWrapper"><div id="results"></div></div>
      </div>
    </div>
    
  </div>

</nav>
  