<footer class="footer">
  <div class="content has-text-centered">
    <a href="{{ .Site.BaseURL }}" >
      &copy; {{ now.Format "2006" }} {{ .Site.Title }}
    </a>
    <div>{{ partial "social-follow.html" . }}</div>

    {{ if .Site.Menus.footer }}
      <ul>
        {{ $currentPage := . }}
        {{ range .Site.Menus.footer }}
          <li>
            {{ if not (eq $currentPage.RelPermalink .URL) }}
              <a href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a>
            {{ else }}
              <span class="is-active">{{ .Name }}</span>
            {{ end }}
          </li>
        {{ end }}
      </ul>
    {{ end }}
  </div>
 
</footer>