{{ with .Param "social.facebook" }}
  <a href="{{ . }}" target="_blank" data-tooltip="Facebook" class="icon facebook" title="Facebook link" rel="noopener" aria-label="follow on Facebook——Opens in a new window">
    <svg class='remix'>
      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#facebook-circle-line"></use>
    </svg>
  </a>
{{ end }}

{{ with .Param "social.twitter" }}
  <a href="{{ . }}" target="_blank" data-tooltip="Twitter" class="icon twitter" title="Twitter link" rel="noopener" aria-label="follow on Twitter——Opens in a new window">
    <svg class='remix'>
      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#twitter-line"></use>
    </svg>
  </a>
{{ end }}

{{ with .Param "social.instagram" }}
  <a href="{{ . }}" target="_blank" data-tooltip="Instagram" class="icon instagram" title="Instagram link" rel="noopener" aria-label="follow on Instagram——Opens in a new window">
    <svg class='remix'>
      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#instagram-line"></use>
    </svg>
  </a>
{{ end }}

{{ with .Param "social.github" }}
  <a href="{{ . }}" target="_blank" data-tooltip="Github" class="icon github" title="Github link" rel="noopener" aria-label="follow on Github——Opens in a new window">
    <svg class='remix'>
      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#github-line"></use>
    </svg>
  </a>
{{ end }}

{{ with .Param "social.rss" }}
  <a href="{{ . }}" target="_blank" data-tooltip="RSS" class="icon rss" title="Github link" rel="noopener" aria-label="follow on Github——Opens in a new window">
    <svg class='remix'>
      <use xlink:href="/fonts/remixicon/remixicon.symbol.svg#rss-line"></use>
    </svg>
  </a>
{{ end }}
