<div class="column is-one-third is-flex">
  <article class="card">
    {{ $featured_image := .Params.featured_image }}
    {{ if .Params.featured_image }}
      <div class="card-image">
        <figure class="image is-4by3">
          {{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
          {{ $featured_image := (trim $featured_image "/") | absURL }}
          <a href="{{.URL}}"><img src="{{ $featured_image }}" alt="image from {{ .Title }}"></a>
        </figure>
      </div>
    {{ end }}

    <div class="card-content is-paddingless">
      <div class="media-content">
        <a class="title is-4" href="{{ .Permalink }}">{{ .Title }}</a>

        <span class="heading">
          <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .PublishDate.Day }}. {{ index $.Site.Data.demonths (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}
          </time>
        
          <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
            (Updated {{ .Lastmod.Day }}. {{ index $.Site.Data.demonths (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }})
          </time>
        </span>

        <span class="heading">
          <div class="author">
            Author
            </span>: {{ if .Params.Author }} {{ .Params.Author }} {{ else }} {{ .Site.Params.Author }} {{ end }}
          </div>
        </span>
      </div>
  
      <div class="content">
        {{ .Summary }}
        <a href="{{ .URL }}">{{ i18n "readMore" }}</a>

        {{ range (.GetTerms "tags") }}
          <a href="{{ .Permalink }}"><span class="tag">{{ .LinkTitle }}</span></a>
        {{ end }}
      </div>
     
      <footer class="card-footer">
        <span class="card-footer-item">{{ .ReadingTime }} {{ i18n "minutesRead" }}</span>
        <span class="card-footer-item">{{ .WordCount }} {{ i18n "words" }}</span>
        {{ range (.GetTerms "categories") }}
          <a href="{{ .Permalink }}" class="card-footer-item"><span class="tag is-primary">{{ .LinkTitle }}</span></a>
        {{ end }}
      </footer>
    </div>
  </article> 
</div>