<div class="column is-one-third is-flex">
  <article class="card">

    <div class="card-image">
      <!-- // HACK: Is this right? -->
      <figure class="image is-4by3">
        {{- range first 1 (.Resources.ByType "image") -}}
          {{- $img := .Fill "400x300" | images.Filter images.Grayscale -}}
          <a href="#">
            <img src="{{ $img.RelPermalink }}" alt="{{ $.Title }}">
          </a>
        {{- end -}}
        {{- with .Params.images -}}
          {{ range first 1 . }}<figcaption>Byline: {{ .byline | safeHTML }}</figcaption>{{ end }}
        {{- end -}}
      </figure>
    </div>

    <div class="card-content">
      <div class="media-content">
        <a class="title is-4" href="{{ .RelPermalink }}"><h2>{{ .Title }}</h2></a>

        <span class="heading">
          <time datetime="{{ .PublishDate.Format "2006-01-02T15:04:05Z07:00" }}">
            {{ .PublishDate.Day }}. {{ index $.Site.Data.demonths (printf "%d" .PublishDate.Month) }} {{ .PublishDate.Year }}
          </time>
        
          <time datetime="{{ .Lastmod.Format "2006-01-02T15:04:05Z07:00" }}">
            (Updated {{ .Lastmod.Day }}. {{ index $.Site.Data.demonths (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Year }})
          </time>
        </span>

        <span class="heading author">
          {{ range (.GetTerms "authors") }}
            <figure class="image is-48x48">
              <a href="{{ .Permalink }}">
                {{- range first 1 (.Resources.ByType "image") -}}
                  {{- $img := .Fill "48x48" | images.Filter images.Grayscale -}}
                  <img class="is-rounded" src="{{ $img.RelPermalink }}" alt="{{ $.Title }}">
                {{- end -}}
              </a>
            </figure>
            <a href="{{ .Permalink }}">{{ .Title }}</a>
          {{ end }}
        </span>
      </div>
  
      <div class="content">
        {{ .Summary }}
        <a href="{{ .RelPermalink }}">{{ i18n "readMore" }}</a>

        {{ range (.GetTerms "tags") }}
          <a href="{{ .RelPermalink }}"><span class="tag">{{ .LinkTitle }}</span></a>
        {{ end }}
      </div>
     
      <footer class="card-footer">
        <span class="card-footer-item">{{ .ReadingTime }} {{ i18n "minutesRead" }}</span>
        <span class="card-footer-item">{{ .WordCount }} {{ i18n "words" }}</span>
        {{ range (.GetTerms "categories") }}
          <a href="{{ .RelPermalink }}" class="card-footer-item"><span class="tag is-primary">{{ .LinkTitle }}</span></a>
        {{ end }}
      </footer>
    </div>
  </article> 
</div>