// $dark: hsl(200, 11%, 11%);
$dark: hsl(190, 11%, 11%);
$light: hsl(190, 20%, 90%);


// Gold colors
$gold-light: hsl(29, 100%, 80%);
$gold: hsl(35, 45%, 50%);
$gold-dark: hsl(35, 45%, 26%);

// #191f1c
// #d1e8e2