{{ partialCached "_base/footer-content" . }}

{{ define "partials/_base/footer-content" }}
<div class="footer-bg"></div>

<svg>
    <filter id="turbulence" x="0" y="0" width="100%" height="100%">
    <feTurbulence id="sea-filter" numOctaves="2" seed="2" baseFrequency="0.02 0.05"></feTurbulence>
    <feDisplacementMap in2="" scale="20" in="SourceGraphic"></feDisplacementMap>
    <animate xlink:href="#sea-filter" attributeName="baseFrequency" dur="200s" keyTimes="0;0.8;1" values="0.02 0.06;0.04 0.08;0.02 0.06" repeatCount="indefinite"/>
    </filter>
</svg>

<div class="columns is-multiline">
    <div class="column is-12">
        <div class="has-text-centered">
            <div class="title is-3 slogan">
                Du willst schreiben - ohne einen eignen Blog zu veröffentlichen?<br />
                Be a part of Article Time!
            </div>
        </div>
    </div>

    <div class="column is-12-mobile is-6-tablet is-6-desktop is-3-widescreen is-3-fullhd social">
        <p class="title is-5">Article Time</p>
        <div class="has-text-centered logo"><img src="/images/header/clock_small.webp" width="150" height="150" alt="Logo" title="Logo" /></div>
        <div class="follow-icons">
            {{ range .Site.Params.follow.footer }}
            <a href="{{ .src }}" title="{{ .name }}" alt="{{ .name }}" target="_blank" rel="noreferrer">
                <svg><use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ $.Site.Params.remixicon_version}}#{{ .icon }}"></use></svg>
            </a>
            {{ end }}
        </div>
    </div>

    <div class="column is-12-mobile is-6-tablet is-6-desktop is-3-widescreen is-3-fullhd ">
        <p class="title is-5">Most Loved Widgets</p>
    </div>

    <div class="column is-hidden-touch is-hidden-desktop-only is-12-mobile is-6-tablet is-6-desktop is-3-widescreen is-3-fullhd stats">
        <p class="title is-5">Statistik</p>
        <p>Momentan befinden sich {{ len (where .Site.RegularPages "Section" "articles") }} <a href="/" title="Artikel">Einträge</a> auf dieser Seite.</p>
        <ul>             
            <li>
                {{ $countA := len (where .Site.RegularPages "Section" "articles") }}
                <span class="variable-number">
                    <svg class='ri-1x' style="fill: rgb(88, 179, 189)">
                        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#flower-line"></use>
                    </svg>
                    Artikel
                </span>
                <span class="variable">{{ $countA }}</span>
            </li>
            <li>
                {{ $countM := len (where (where .Site.RegularPages "Section" "articles") ".Params.format" "==" "log") }}
                <span class="variable-number">
                    <svg class='ri-1x' style="fill: rgb(201, 172, 92)">
                        <use xlink:href="/fonts/remixicon/remixicon.symbol.svg?t={{ .Site.Params.remixicon_version}}#lightbulb-flash-line"></use>
                    </svg>
                    Logs
                </span>
                <span class="variable">{{ $countM }}</span>
            </li>
        </ul>
    </div>

    <div class="column is-hidden-touch is-hidden-desktop-only is-12-mobile is-6-tablet is-6-desktop is-3-widescreen is-3-fullhd ">
        {{ partial "widgets/archive" (dict "context" . "archiveTitle" "Archiv") }}
    </div>
</div>
  

<div class="has-text-centered navi">
    {{- if .Site.Menus.footer -}}
    <ul>
        {{- $currentPage := . -}}
        {{- range .Site.Menus.footer -}}
        <li>
            {{- if not (eq $currentPage.RelPermalink .URL) -}}
                <a href="{{ .URL }}" title="{{ .Name }} page">{{ .Name }}</a>
            {{- else -}}
                <span class="is-active">{{ .Name }}</span>
            {{- end -}}
        </li>
        {{- end -}}
    </ul>
    {{- end -}}
</div>

<div class="copyright has-text-centered">
    &copy; 2020 - {{ dateFormat "2006" now }} | <abbr title='Build Date: {{ readFile "buildDate.txt" }}'>v{{ readFile "version.txt" }}</abbr>
    | <span>{{ .Site.Copyright | safeHTML }}</span>

    <p>
        Header SVGs von: <a href="https://www.shutterstock.com/g/pixelliebe" title="shutterstock.com">pixelliebe</a> | 
        <a href="https://www.shutterstock.com/image-vector/hamburg-skyline-471775031" title="shutterstock.com">shutterstock.com</a>
        | <a href="https://www.shutterstock.com/image-vector/kiel-skyline-german-city-581455954" title="shutterstock.com">shutterstock.com</a>
    </p>
</div>
{{ end }}