{{ partialCached "_base/navigation-content" . .RelPermalink }}

{{ define "partials/_base/navigation-content" }}
<nav class="navbar" role="navigation" aria-label="main navigation">
    <input id="menu-switch" name="menu-switch" type="checkbox" />

    <div class="navbar-brand">
        <a class="navbar-item {{ if .IsHome }}is-active{{ end }}" href="/" title="{{ .Site.Title }}"><img src="/images/favicon/favicon.ico" width="28" height="28" alt="Logo">{{ .Site.Title }}</a>
        <label for="menu-switch" class="navbar-burger" role="button" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </label>
    </div>

    <div class="navbar-menu">
        <div class="navbar-start">

            {{- $currentPage := . -}}
            {{- range .Site.Menus.main -}}

                {{- if .HasChildren -}}

                    <div class="navbar-item has-dropdown is-hoverable">
                        <a class="navbar-link {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}is-active{{ end }}" href="{{ .Page.Permalink }}" title="{{ .Page.Title }}">
                          <!-- Get the translation name, if there is one -->
                          {{ if .Page }}
                            {{ if .Page.Params.translation }}
                                {{ if .Page.Params.translation.plural }}
                                    {{ .Page.Params.translation.plural }}
                                {{ else }}
                                    {{ .Name }}
                                {{ end }}
                            {{ else }}
                                {{ .Name }}
                            {{ end }}
                          {{ else }}
                              {{ .Name }}
                          {{ end }}
                        </a>
                        <div class="navbar-dropdown">
                            {{- range .Children -}}
                                <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .Page.Permalink }}" title="{{ .Page.Title }}">{{ .Name }}</a>
                            {{- end -}}
                        </div>
                    </div>

                {{- else -}}
                    <a class="navbar-item {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }} is-active{{ end }}" href="{{ .URL }}" title="{{ .Name }} page">
                      {{ .Name }}
                    </a>
                {{- end -}}
                        
            {{- end -}}
        </div>

        <div class="navbar-end">
          
          <div class="navbar-item field searchWithButton">
            <p class="control has-icons-right">
              <label for="searchBox" class="sr-only">Search</label>
              <input class="input" type="search" name="searchBox" id="searchBox" aria-placeholder="Search...">
              <span id="searchIcons" class="icon is-small is-right">
                <svg class='remix lens'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#search-2-line"></use></svg>
                <svg class='remix close'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#close-fill"></use></svg>
                <div id="spinnerLoading" class="control spinner is-loading"></div>
              </span>
            </p>
            <div id="resultsWrapper"><div id="results"></div></div>
          </div>
    
        </div>
  
      {{/*  <div class="navbar-end">
        <div class="navbar-item">
          <div class="field is-grouped">
            <p class="control">
              <a
                class="bd-tw-button button"
                data-social-network="Twitter"
                data-social-action="tweet"
                data-social-target="https://bulma.io"
                target="_blank"
                href="https://twitter.com/intent/tweet?text=Bulma: a modern CSS framework based on Flexbox&amp;hashtags=bulmaio&amp;url=https://bulma.io&amp;via=jgthms"
              >
                <span class="icon">
                  <i class="fab fa-twitter"></i>
                </span>
                <span> Tweet </span>
              </a>
            </p>
          </div>
        </div>
      </div>  */}}




    </div>
</nav>
{{ end }}