{{ define "main" }}
	
	<div class="content content-wrapper">
		{{ .Content }}
	</div>

	{{ range where .Site.Pages "Section" "articles" }}
		{{ range (.Pages.GroupByDate "2006") }}
			<h2 class="title">{{ .Key }}</h2>
				
			{{ range (.Pages.GroupByDate "1") }}
				<h3 class="title">{{ .Key }}</h2>
				
				<div class="columns is-mobile is-multiline">
					{{ range .Pages }}
						<!-- TODO: Do I really need this site?? -->
						<div class="column is-flex is-half-mobile is-one-third-tablet is-one-quarter-desktop is-one-fifth-widescreen">
							<div class="card is-small {{ if .Resources }}has-image{{else}}no-image{{ end }} ">

								{{ if .GetTerms "categories" }}
									{{ range first 1 (.GetTerms "categories") }}
										{{ $catName := .LinkTitle }}
										<div class="ribbon" style="{{ range .Site.Params.categoryColor }}{{ if eq .name $catName }}background-color: {{ .color }};{{ end }}{{ end }}">
											<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
										</div>
									{{ end }}
								{{ end }}
								{{- if .Resources -}}
									<div class="card-image">
										<a href="{{ .Page.Permalink }}">
											<figure class="image is-3by2">
												<a href="{{ .Page.Permalink }}">
													{{- $img := (.Resources.ByType "image").GetMatch "featured*" -}}
													{{- with $img -}}
														{{- $resize := .Fill "480x320" -}}
															<img src="{{ $resize.RelPermalink }}" alt="{{ .Title }}" loading="lazy">
													{{- end -}}
												</a>
												{{- range .Params.featured_image -}}
													<figcaption>
														<svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#information-line"></use></svg>
														{{ .byline | safeHTML }}
													</figcaption>
												{{- end -}}
											</figure>
										</a>
									</div>
								{{- end -}}
								<div class="card-content">
									<div>
										<a class="title is-5 is-size-6-mobile" href="{{ .Page.Permalink }}">{{ .Page.Title }}</a><br />
										{{ if isset .Params "tags" }}
											<div class="tags-wrapper">
												<svg class='remix-small'>
													<use xlink:href="/fonts/remixicon/remixicon.symbol.svg#price-tag-3-line"></use>
												</svg>
												{{- range .Params.tags -}}
													<a href="/tags/{{ . | urlize }}" class="hashtags">#{{ . }} </a> 
												{{- end -}}
											</div>
										{{ end }}
									</div>
								</div>
							</div>
						</div>

					{{ end }}
				</div>

			{{ end }}
		{{ end }}
	{{ end }}

{{ end }}
