<span class="stars-wrapper">
  <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
  <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
  <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
  <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-fill"></use></svg>
  <svg class='remix'><use xlink:href="/fonts/remixicon/remixicon.symbol.svg#star-half-fill"></use></svg>
</span>