{{- $heading := .Get 0 -}}
{{- $stars := .Get 1 -}}

<div class="ratings"><p class="title is-5">{{ $heading }}</p>
  <div class="stars">
    {{- with (eq $stars "0") -}}
      {{ partial "ratings/stars-0_0" }}
    {{- end -}}
    {{- with (eq $stars "0.5") -}}
      {{ partial "ratings/stars-0_5" }}
    {{- end -}}
    {{- with (eq $stars "1") -}}
      {{ partial "ratings/stars-1_0" }}
    {{- end -}}
    {{- with (eq $stars "1.5") -}}
      {{ partial "ratings/stars-1_5" }}
    {{- end -}}
    {{- with (eq $stars "2") -}}
      {{ partial "ratings/stars-2_0" }}
    {{- end -}}
    {{- with (eq $stars "2.5") -}}
      {{ partial "ratings/stars-2_5" }}
    {{- end -}}
    {{- with (eq $stars "3") -}}
      {{ partial "ratings/stars-3_0" }}
    {{- end -}}
    {{- with (eq $stars "3.5") -}}
      {{ partial "ratings/stars-3_5" }}
    {{- end -}}
    {{- with (eq $stars "4") -}}
      {{ partial "ratings/stars-4_0" }}
    {{- end -}}
    {{- with (eq $stars "4.5") -}}
      {{ partial "ratings/stars-4_5" }}
    {{- end -}}
    {{- with (eq $stars "5") -}}
      {{ partial "ratings/stars-5_0" }}
    {{- end -}}
  </div>
  <span class="star-count">({{ $stars }})</span>
</div>